@charset "UTF-8";
@font-face {
  font-family: 'Calibri Regular';
  src: url("../fonts/Calibri.eot");
  src: url("../fonts/Calibri.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri.woff") format("woff"), url("../fonts/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Calibri Regular';
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Calibri Regular";
}

.container {
  width: 71.146vw;
  margin: 0 auto;
  padding: 0 1.042vw;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

.header {
  width: 100vw;
  background: #fff;
  -webkit-box-shadow: 0 0.26vw 1.302vw rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.26vw 1.302vw rgba(0, 0, 0, 0.15);
  z-index: 100;
  position: relative;
  top: 0;
  position: fixed;
}

.header .header-wrapper {
  width: 97.813vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.917vw;
}

.header .header-wrapper .header-logo_burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.365vw;
}

.header .header-wrapper .header-logo_burger .header__nav {
  position: absolute;
  right: 1.875vw;
  display: block;
}

.header .header-wrapper .header-logo_burger .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header .header-wrapper .header-logo_burger .header__menu li {
  list-style: none;
  margin: 0 0 0 1.875vw;
  font-size: 0.833vw;
  text-transform: uppercase;
  text-decoration: none;
}

.header .header-wrapper .header-logo_burger .content-wrapper {
  margin-top: 4.063vw;
  padding: 0.521vw;
  line-height: 1.771vw;
}

.header .header-wrapper .header-logo_burger a {
  color: #242e31;
  text-decoration: none;
  font-weight: 600;
}

.header .header-wrapper .hamburger {
  padding: 0 !important;
  padding-right: 0.990vw !important;
}

.header .header-wrapper .mm-navbar_title {
  display: none !important;
}

.header .header-wrapper .hamburger-box {
  width: 1.146vw;
  color: #1F316A !important;
}

.header .header-wrapper .hamburger-inner {
  width: 1.146vw;
  height: 0.104vw;
}

.header .header-wrapper #mmenu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-wrapper .hamburger-inner::after {
  width: 1.146vw;
  height: 0.104vw;
}

.header .header-wrapper .hamburger-inner::before {
  width: 1.146vw;
  height: 0.104vw;
  bottom: -0.260vw;
}

.header .header-wrapper .nav-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 0.938vw;
  line-height: 1.146vw;
  text-align: center;
}

.header .header-wrapper .nav-menu .sub-menu {
  position: absolute;
  top: 3vw;
  left: 0;
  min-width: 100vw;
  min-height: 22.656vw;
  display: none;
  background: #fff;
}

.header .header-wrapper .nav-menu a {
  color: #1F316A;
  text-decoration: none;
  border-bottom: 0.150vw solid transparent;
  padding: 0.729vw 0.729vw;
}

.header .header-wrapper .nav-menu .nav:hover .sub-menu {
  display: block;
}

.header .header-wrapper .nav-menu a:hover {
  border-bottom: 0.150vw solid #1F316A;
}

.header .header-wrapper .nav-menu .deactive {
  color: #1F316A;
  text-decoration: none;
  padding: 0.729vw 0.729vw;
}

.header .header-wrapper .nav-menu .nav {
  background-color: transparent;
}

.header .header-wrapper .header-right {
  width: 6.042vw;
  height: 0.990vw;
}

.header .header-wrapper .header-right .map {
  color: #1f316a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6.042vw;
}

.header .header-wrapper .header-right .map .map-icon {
  padding-right: 0.401vw;
}

.header .header-wrapper .header-right .map .map-icon img {
  width: 0.693vw;
  height: 0.906vw;
}

.header .header-wrapper .header-right .map .map-name {
  font-style: normal;
  font-weight: normal;
  font-size: 0.938vw;
  color: #1F316A;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 0.573vw;
}

.header .header-wrapper .header-right .map .shopping-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-wrapper .header-right .map .shopping-cart img {
  width: 0.938vw;
  height: 0.817vw;
}

#cartMenuProduct .mm-navbars_top .mm-navbar {
  background-color: white;
  padding-right: 1.46vw;
  padding-left: 1.46vw;
}

.cart-Menu__Title {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 0.104vw;
  margin-bottom: 0;
  font-size: 1.042vw;
  text-align: center;
  color: #1e306e;
}

.cartMenu_text {
  margin-top: 2.083vw;
  margin-bottom: 1.667vw;
  font-size: 1.042vw;
  letter-spacing: 0px;
  color: #525252;
  text-align: center;
}

.cartMenu_button {
  display: inline-block;
  font-size: 0.938vw;
  line-height: 1.3;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.208vw;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
  transition: background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0.625vw 1.250vw 0.677vw;
  font-style: normal;
  font-weight: 500;
  color: white !important;
  background: #1e306e;
  width: 100%;
}

.cartMenu_button:hover {
  background: #526699;
}

#cartMenuProduct .mm-navbar_sticky {
  display: none;
}

.cartMenu_content {
  padding-right: 1.46vw;
  padding-left: 1.46vw;
}

.lineItems-container {
  padding-top: 1.042vw;
  padding-bottom: 1.042vw;
}

.mm-panels > .mm-panel {
  background-color: white;
}

.cart-promo {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  height: 3.13vw;
  padding: 0px 1.04vw;
  text-align: center;
  color: #00706e;
  background: #f5fbfa;
}

.cart-item_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5em 1fr;
      grid-template-columns: 5em 1fr;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  gap: 0.5rem 1.25rem;
      grid-template-areas: "image information" "plan plan";
}

.cart-product_info {
  width: 100%;
  position: relative;
}

.cart-product_image {
  width: 4.2vw;
  height: 4.17vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.cart-product_image img {
  width: 100%;
  height: 100%;
}

.cart-product_title {
  line-height: 1.375;
}

.productName {
  font-weight: 400;
  padding-right: 1.250vw;
  margin: 0px;
  color: #1e306e;
  font-size: 0.833vw;
}

.optionText {
  display: block;
  font-style: normal;
  font-weight: 300;
  font-size: 0.729vw;
  line-height: 1.33;
  letter-spacing: 0.016vw;
  color: inherit;
}

.removeButton {
  border: 0;
  outline: 0;
  position: absolute;
  cursor: pointer;
  top: -0.208vw;
  right: -0.417vw;
  padding: 0.417vw;
  line-height: 0;
  fill: #151515;
  -webkit-transition: fill 0.15s ease-out 0s;
  transition: fill 0.15s ease-out 0s;
  background-color: transparent;
}

.removeButton img {
  width: 0.729vw;
  height: 0.729vw;
}

.quantityControl {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  float: left;
  width: 5vw;
  margin-top: 0.625vw;
  margin-left: -0.208vw;
  text-align: center;
  border-radius: 0.208vw;
  -webkit-box-shadow: rgba(189, 187, 187, 0.5) 0px 0px 0.208vw 0px;
          box-shadow: rgba(189, 187, 187, 0.5) 0px 0px 0.208vw 0px;
}

.quantityMinus {
  border: none;
}

.quantityIcon-minus {
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 1.667vw;
  height: 1.667vw;
  font-size: 0.938vw;
  line-height: 1;
  background: white;
  pointer-events: none;
  -webkit-transition: background-color 0.15s ease-out 0s;
  transition: background-color 0.15s ease-out 0s;
  border: none;
  border-radius: 0.208vw 0px 0px 0.208vw;
}

.quantityControl .desabled {
  color: #e6e6e6;
}

.quantityCount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 1.667vw;
  height: 1.667vw;
  background: #f6f6f6;
}

.quantityPlus {
  border: none;
}

.quantityIcon-plus {
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 1.667vw;
  height: 1.667vw;
  font-size: 0.938vw;
  line-height: 1;
  background: white;
  pointer-events: none;
  -webkit-transition: background-color 0.15s ease-out 0s;
  transition: background-color 0.15s ease-out 0s;
  border: none;
  border-radius: 0px 0.208vw 0.208vw 0px;
}

.cart_price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cart-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  color: #525252;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: right;
  margin-top: 1.250vw;
}

.cart-summary_container {
  padding-top: 0.833vw;
  padding-bottom: 0px;
  border-top: 0.052vw solid #e6e6e6;
}

.cart-summary_container ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.summary-item {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 0px;
}

.summary-item_left {
  text-align: left;
  color: #151515;
}

.summary-item_right {
  text-align: right;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.cartAdd_promo {
  font-weight: 400;
  padding: 0.625vw 0px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 0.833vw;
  color: #00706e;
  border: 0px;
  background: none;
  outline: 0px;
  cursor: pointer;
}

.cartShipping {
  font-weight: 300;
  font-size: 0.729vw;
  line-height: 1.33;
  letter-spacing: 0.016vw;
  margin-bottom: 0.417vw;
  color: #525252;
}

#cartMenuProduct .mm-navbars_bottom {
  background-color: white;
}

#cartMenuProduct .mm-navbars_bottom .mm-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding-right: 1.46vw;
  padding-left: 1.46vw;
  color: inherit;
}

#cartMenuProduct .mm-navbars_bottom .mm-navbar:first-child {
  border-top: none;
}

.totalTitle {
  font-size: 1.250vw;
  line-height: 1.333;
  letter-spacing: 0.016vw;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.totalValues {
  text-align: right;
  font-size: 1.250vw;
  line-height: 1.333;
  letter-spacing: 0.016vw;
  font-style: normal;
  font-weight: 400;
}

.checkoutButton {
  margin-bottom: 0.417vw;
}

.checkoutButton a {
  position: relative;
  display: inline-block;
  font-size: 0.938vw;
  line-height: 1.3;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.208vw;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
  transition: background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0.625vw 1.250vw 0.677vw;
  font-style: normal;
  font-weight: 500;
  color: white !important;
  background: #1e306e;
  width: 100%;
}

.burger-menu {
  width: 2.135vw;
  /* Бургер меню меню для мобильных*/
  /* скрываем чекбокс */
  /* стилизуем кнопку */
  /* добавляем "гамбургер" */
  /* контейнер меню */
  /* элементы меню */
}

.burger-menu .shopping-cart img {
  width: 1.04vw;
}

.burger-menu #menu-toggle {
  opacity: 0;
}

.burger-menu .menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* используем flex для центрирования содержимого */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* центрируем содержимое кнопки */
  position: absolute;
  top: 0.781vw;
  left: 1.042vw;
  width: 1.302vw;
  height: 1.302vw;
  cursor: pointer;
  z-index: 6;
}

.burger-menu .menu-btn > span,
.burger-menu .menu-btn > span::before,
.burger-menu .menu-btn > span::after {
  display: block;
  position: absolute;
  width: 1.302vw;
  height: 0.104vw;
  background-color: #1F316A;
}

.burger-menu .menu-btn > span::before {
  content: '';
  top: -0.313vw;
}

.burger-menu .menu-btn > span::after {
  content: '';
  top: 0.313vw;
}

.burger-menu .top-menu {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 19.531vw;
  margin: 0;
  padding: 0.260vw 0 0 0;
  list-style: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0.052vw 0 0.313vw rgba(0, 0, 0, 0.2);
          box-shadow: 0.052vw 0 0.313vw rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.burger-menu .top-menu .menu-item {
  font-size: 1.042vw;
  display: block;
  padding: 0 0.781vw;
  text-align: left;
  line-height: 1.4;
}

.burger-menu .menu-link {
  display: block;
  color: #ffffff;
  font-weight: 100;
  text-decoration: none;
}

.burger-menu .menu-link:hover {
  background-color: #CFD8DC;
}

.burger-menu #menu-toggle:checked ~ .menu-btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-menu #menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.burger-menu #menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.burger-menu #menu-toggle:checked ~ .top-menu {
  visibility: visible;
  left: 0;
}

.burger-menu .menu-btn > span,
.burger-menu .menu-btn > span::before,
.burger-menu .menu-btn > span::after {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.burger-menu .top-menu li {
  width: 100%;
  height: auto !important;
}

.burger-menu .top-menu > li {
  border-bottom: 0.052vw solid #e5e5e5;
}

.burger-menu .top-menu > li > a {
  padding: 0.938vw;
  -webkit-transition: 0s;
  transition: 0s;
}

.burger-menu .submenu,
.burger-menu .submenu-standart {
  position: relative;
  display: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  background: rgba(0, 0, 0, 0.02);
}

.burger-menu .submenu-standart li {
  padding: 0;
}

.burger-menu .submenu-standart li a {
  padding: 0.625vw 0.938vw;
}

.burger-menu .submenu > li {
  border-right: none;
  border-bottom: 0.052vw solid #e5e5e5;
  padding: 0.938vw;
}

.burger-menu .submenu h3 {
  margin: 0 0 0.521vw;
}

.burger-menu .submenu .image-header {
  margin: 0.521vw 0;
}

.burger-menu .submenu li:last-of-type {
  border-bottom: none;
}

.burger-menu .top-menu > li:hover .submenu,
.burger-menu .top-menu > li:hover .submenu-standart {
  display: block;
}

.mm-navbar {
  height: 2.917vw;
  background: transparent;
}

.mm-navbar img {
  width: 1.823vw;
  height: 1.823vw;
  position: absolute;
  right: 1.042vw;
  top: 0.3vw;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discount-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 0.156vw 0.417vw;
  margin-left: 0.417vw;
  background-color: #00706e;
  border-radius: 0.521vw;
  color: white;
}

.discount-menu span {
  font-weight: 500;
  font-style: normal;
  font-size: 0.521vw;
  line-height: 1;
  letter-spacing: 0.052vw;
}

.menu-link-button {
  font-weight: 500;
  position: relative;
  display: inline-block;
  font-size: 0.938vw;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.208vw;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
  transition: background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-style: normal;
  color: white !important;
  background: #1e306e;
  line-height: 1.250vw;
  margin-top: 1vw;
  margin-left: 0.521vw;
  padding: 0.625vw 1.250vw;
}

.menu-link-button:hover {
  background: #526699;
}

.menu-image-title {
  color: #1e306e;
  font-size: 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1;
  margin-left: 0.521vw;
  margin-top: 1.042vw;
  margin-bottom: 0.521vw;
}

.menu-image {
  margin-left: 0.521vw;
}

#mm-2 a img {
  width: 17.031vw;
  height: 10.521vw;
  background-size: 100%;
  cursor: pointer;
}

@media all and (max-width: 1366px) {
  .container {
    width: 100vw;
    padding: 0 2.0496vw;
  }
  .header {
    width: 100vw;
    -webkit-box-shadow: 0 0.364vw 1.8228vw rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.364vw 1.8228vw rgba(0, 0, 0, 0.15);
  }
  .header .header-wrapper {
    width: 97.813vw;
    height: 2.917vw;
  }
  .header .header-wrapper .header-logo_burger {
    margin-top: 0.511vw;
  }
  .header .header-wrapper .header-logo_burger .header__nav {
    right: 2.625vw;
  }
  .header .header-wrapper .header-logo_burger .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2;
  }
  .header .header-wrapper .header-logo_burger .header__menu li {
    list-style: none;
    margin: 0 0 0 2.625vw;
    font-size: 1.1662vw;
    text-transform: uppercase;
    text-decoration: none;
  }
  .header .header-wrapper .header-logo_burger .content-wrapper {
    margin-top: 5.6882vw;
    padding: 0.7294vw;
    line-height: 2.4794vw;
  }
  .header .header-wrapper .header-logo_burger .shopping-cart img {
    width: 1.456vw;
  }
  .header .header-wrapper .nav-menu {
    font-size: 0.938vw;
    line-height: 1.146vw;
  }
  .header .header-wrapper .nav-menu .sub-menu {
    top: 3vw;
    min-width: 140vw;
    min-height: 31.7184vw;
  }
  .header .header-wrapper .nav-menu a {
    border-bottom: 0.21vw solid transparent;
    padding: 1.0206vw 1.0206vw;
  }
  .header .header-wrapper .nav-menu a:hover {
    border-bottom: 0.21vw solid #1F316A;
  }
  .header .header-wrapper .nav-menu .deactive {
    padding: 1.0206vw 1.0206vw;
  }
  .header .header-wrapper .header-right {
    width: 8.4588vw;
    height: 1.386vw;
  }
  .header .header-wrapper .header-right .map .map-icon {
    padding-right: 0.5614vw;
  }
  .header .header-wrapper .header-right .map .map-icon img {
    width: 0.9702vw;
    height: 1.2684vw;
  }
  .header .header-wrapper .header-right .map .map-name {
    font-size: 1.3132vw;
    margin-right: 0.8022vw;
  }
  .header .header-wrapper .header-right .map .shopping-cart img {
    width: 1.3132vw;
    height: 1.1438vw;
  }
  .cart-Menu__Title {
    margin-top: 0.1456vw;
    margin-left: 0.875vw;
    margin-bottom: 0;
    font-size: 1.4588vw;
  }
  .cartMenu_content {
    padding-right: 2.0412vw;
    padding-left: 2.0412vw;
  }
  .cartMenu_text {
    margin-top: 2.9162vw;
    margin-bottom: 2.3338vw;
    font-size: 1.4588vw;
    letter-spacing: 0px;
  }
  .cartMenu_button {
    font-size: 1.3132vw;
    line-height: 1.3;
    border-radius: 0.2912vw;
    -webkit-transition: background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
    transition: background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
    padding: 0.875vw 1.75vw 0.9478vw;
    width: 100%;
  }
  .discount-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    padding: 0.2184vw 0.5838vw;
    margin-left: 0.5838vw;
    background-color: #00706e;
    border-radius: 0.7294vw;
    color: white;
  }
  .discount-menu span {
    font-weight: 500;
    font-style: normal;
    font-size: 0.7294vw;
    line-height: 1;
    letter-spacing: 0.0728vw;
  }
  .menu-link-button {
    font-weight: 500;
    position: relative;
    display: inline-block;
    font-size: 1.3132vw;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.2912vw;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
    transition: background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    font-style: normal;
    color: white !important;
    background: #1e306e;
    line-height: 1.75vw;
    margin-top: 1.4vw;
    margin-left: 0.7294vw;
    padding: 0.875vw 1.75vw;
  }
  .menu-link-button:hover {
    background: #526699;
  }
  .menu-image-title {
    color: #1e306e;
    font-size: 2.1vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 1;
    margin-left: 0.7294vw;
    margin-top: 1.4588vw;
    margin-bottom: 0.7294vw;
  }
  .menu-image {
    margin-left: 0.7294vw;
  }
  .mm-navbar__title {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #1e306e !important;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2.1vw;
    overflow: hidden;
  }
  .mm-listitem__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 10px;
    font-weight: 500;
    padding: 1.3132vw 0.875vw;
    line-height: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 10%;
    font-size: 1.75vw;
    flex-basis: 10%;
    color: #1e306e !important;
    -webkit-transition: padding-left 0.15s ease-in 0s;
    transition: padding-left 0.15s ease-in 0s;
  }
  #mm-2 .mm-listview {
    margin-top: 1.4588vw;
  }
  #mm-2 .mm-listitem__text {
    font-weight: 400;
    font-size: 1.3132vw;
    line-height: 1;
    letter-spacing: 0.0434vw;
    color: #151515 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #mm-2 .mm-listitem__text:hover {
    color: #1e306e !important;
  }
  .mm-listitem__text:hover {
    padding-left: 1.1662vw;
  }
  #mm-2 .mm-listitem__text:last-child a:hover {
    padding-left: 0vw;
  }
  #mm-2 a img {
    width: 23.8434vw;
    height: 14.7294vw;
    background-size: 100%;
    cursor: pointer;
  }
  .mm-navbar img {
    width: 2.5522vw;
    height: 2.5522vw;
    position: absolute;
    right: 1.4588vw;
    top: 0.42vw;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header .header-wrapper .hamburger-box {
    width: 1.6044vw !important;
    color: #1F316A !important;
  }
  .header .header-wrapper .hamburger-box {
    width: 1.6044vw !important;
    color: #1F316A !important;
  }
  .header .header-wrapper .hamburger-inner {
    width: 1.6044vw !important;
    height: 0.1456vw;
  }
  .header .header-wrapper .hamburger-inner::before {
    width: 1.6044vw !important;
    height: 0.1456vw;
    bottom: -0.364vw;
  }
  .header .header-wrapper .hamburger-inner::after {
    width: 1.6044vw !important;
    height: 0.1456vw;
  }
}

@media all and (max-width: 415px) {
  .header {
    width: 100vw;
    -webkit-box-shadow: 0 1.04vw 5.208vw rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.04vw 5.208vw rgba(0, 0, 0, 0.15);
  }
  .header .header-wrapper {
    width: 97.813vw;
    height: 11.668vw;
  }
  .header .header-wrapper .header-logo_burger {
    margin-top: 1.46vw;
  }
  .header .header-wrapper .header-logo_burger .header__nav {
    position: absolute;
    right: 7.5vw;
  }
  .header .header-wrapper .header-logo_burger .header__menu li {
    margin: 0 0 0 7.5vw;
    font-size: 3.332vw;
  }
  .header .header-wrapper .header-logo_burger .content-wrapper {
    margin-top: 16.252vw;
    padding: 2.084vw;
    line-height: 7.084vw;
  }
  .header .header-wrapper .header-logo_burger a {
    font-weight: 600;
  }
  .header .header-wrapper .header-logo_burger a img {
    width: 53.752vw;
  }
  .header .header-wrapper .header_main-nav {
    display: none;
  }
  .header .header-wrapper .header_main-nav .nav-menu {
    font-size: 0.938vw;
    line-height: 1.146vw;
  }
  .header .header-wrapper .header_main-nav .nav-menu .sub-menu {
    top: 3vw;
    min-width: 100vw;
    min-height: 22.656vw;
  }
  .header .header-wrapper .header_main-nav .nav-menu a {
    border-bottom: 0.150vw solid transparent;
    padding: 0.729vw 0.729vw;
  }
  .header .header-wrapper .header_main-nav .nav-menu .nav:hover .sub-menu {
    display: block;
  }
  .header .header-wrapper .header_main-nav .nav-menu a:hover {
    border-bottom: 0.150vw solid #1F316A;
  }
  .header .header-wrapper .header_main-nav .nav-menu .deactive {
    color: #1F316A;
    text-decoration: none;
    padding: 0.729vw 0.729vw;
  }
  .header .header-wrapper .header_main-nav .nav-menu .nav {
    background-color: transparent;
  }
  .header .header-wrapper .header-right {
    width: 24.168vw;
    height: 3.96vw;
    margin-right: 2vw;
  }
  .header .header-wrapper .header-right .map {
    width: 24.168vw;
  }
  .header .header-wrapper .header-right .map .map-icon {
    padding-right: 1.604vw;
  }
  .header .header-wrapper .header-right .map .map-icon img {
    width: 2.772vw;
    height: 3.624vw;
  }
  .header .header-wrapper .header-right .map .map-name {
    font-size: 3.752vw;
    margin-right: 2.292vw;
  }
  .header .header-wrapper .header-right .map .shopping-cart img {
    width: 3.752vw;
    height: 3.268vw;
  }
  #menu {
    width: 100vw;
  }
  #cartMenu {
    width: 100vw;
  }
  .cart-Menu__Title {
    margin-top: 0.416vw;
    margin-left: 2.5vw;
    margin-bottom: 0;
    font-size: 4.168vw;
  }
  .cartMenu_content {
    padding-right: 5.832vw;
    padding-left: 5.832vw;
  }
  .cartMenu_text {
    margin-top: 8.332vw;
    margin-bottom: 6.668vw;
    font-size: 4.168vw;
    letter-spacing: 0px;
  }
  .cartMenu_button {
    font-size: 3.752vw;
    line-height: 1.3;
    border-radius: 0.832vw;
    -webkit-transition: background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
    transition: background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
    padding: 2.5vw 5vw 2.708vw;
    width: 100%;
  }
  .discount-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    padding: 0.624vw 1.668vw;
    margin-left: 1.668vw;
    background-color: #00706e;
    border-radius: 2.084vw;
    color: white;
  }
  .discount-menu span {
    font-weight: 500;
    font-style: normal;
    font-size: 2.084vw;
    line-height: 1;
    letter-spacing: 0.208vw;
  }
  .menu-link-button {
    font-weight: 500;
    position: relative;
    display: inline-block;
    font-size: 3.752vw;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.832vw;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
    transition: background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    font-style: normal;
    color: white !important;
    background: #1e306e;
    line-height: 5vw;
    margin-top: 4vw;
    margin-left: 2.084vw;
    padding: 2.5vw 5vw;
  }
  .menu-link-button:hover {
    background: #526699;
  }
  .menu-image-title {
    color: #1e306e;
    font-size: 6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 1;
    margin-left: 2.084vw;
    margin-top: 4.168vw;
    margin-bottom: 2.084vw;
  }
  .menu-image {
    margin-left: 2.084vw;
  }
  .mm-navbar__title {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #1e306e !important;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 6vw;
    overflow: hidden;
  }
  .mm-listitem__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 10px;
    font-weight: 500;
    padding: 3.752vw 2.5vw;
    line-height: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 10%;
    font-size: 5vw;
    flex-basis: 10%;
    color: #1e306e !important;
    -webkit-transition: padding-left 0.15s ease-in 0s;
    transition: padding-left 0.15s ease-in 0s;
  }
  #mm-2 .mm-listview {
    margin-top: 4.168vw;
  }
  #mm-2 .mm-listitem__text {
    font-weight: 400;
    font-size: 3.752vw;
    line-height: 1;
    letter-spacing: 0.124vw;
    color: #151515 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #mm-2 .mm-listitem__text:hover {
    color: #1e306e !important;
  }
  .mm-listitem__text:hover {
    padding-left: 3.332vw;
  }
  #mm-2 .mm-listitem__text:last-child a:hover {
    padding-left: 0vw;
  }
  #mm-2 a img {
    width: 68.124vw;
    height: 42.084vw;
    background-size: 100%;
    cursor: pointer;
  }
  .mm-navbar img {
    width: 7.292vw;
    height: 7.292vw;
    position: absolute;
    right: 4.168vw;
    top: 1.2vw;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header .header-wrapper .hamburger-box {
    width: 6vw !important;
    color: #1F316A !important;
    height: auto;
  }
  .header .header-wrapper .hamburger-inner {
    width: 6vw !important;
    height: 0.416vw;
  }
  .header .header-wrapper .hamburger-inner::before {
    width: 6vw !important;
    height: 0.416vw;
    top: -1.7vw !important;
  }
  .header .header-wrapper .hamburger-inner::after {
    width: 6vw !important;
    height: 0.416vw;
    top: 1.7vw;
  }
}
/*# sourceMappingURL=cart.css.map */