@import "base-scss.scss";

.banner-container {
    height: auto;
    margin-top: 5.208vw;
    background: url(images/banner-back.jpg) repeat-x;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    padding: 2.083vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text {
    width: 68.958vw;
    padding: 1.667vw 0;
    font-weight: 700;
    font-size: 3.073vw;
    line-height: 3.751vw;
    background-color: #F5F5F0;
    color: #1F316A;
    text-align: center;
}

@media all and (max-width: 1366px) {
    $coefficient: 1.3;

    .banner-container {
        margin-top: 5.208vw * $coefficient;
        margin-bottom: 5.208vw * $coefficient;
    }

    .banner-content {
        padding: 2.083vw * $coefficient 0;
    }

    .banner-text {
        width: 68.958vw * $coefficient;
        padding: 1.667vw * $coefficient 0;
        font-weight: 700;
        font-size: 3.073vw * $coefficient;
        line-height: 3.751vw * $coefficient;
    }
}

@media all and (max-width: 415px) {
    $coefficient: 4;

    .banner-container {
        margin-top: 5.208vw * $coefficient;
        margin-bottom: 5.208vw * $coefficient;
    }

    .banner-content {
        padding: 3.3735vw * $coefficient 0;
    }

    .banner-text {
        width: 25vw * $coefficient;
        padding: 1.667vw * $coefficient 0;
        font-weight: 700;
        font-size: 3.073vw * $coefficient;
        line-height: 3.751vw * $coefficient;
    }
}