@font-face {
  font-family: 'Calibri Regular';
  src: url("fonts/Calibri.eot");
  src: url("fonts/Calibri.eot?#iefix") format("embedded-opentype"), url("fonts/Calibri.woff") format("woff"), url("fonts/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Calibri Regular'; }

a {
  text-decoration: none; }

li {
  list-style: none; }

body {
  font-family: "Calibri Regular"; }

.container {
  width: 71.146vw;
  margin: 0 auto;
  padding: 0 1.042vw; }

.header {
  width: 100vw;
  background: #fff;
  -webkit-box-shadow: 0 0.26vw 1.302vw rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.26vw 1.302vw rgba(0, 0, 0, 0.15);
  z-index: 100;
  position: relative;
  top: 0;
  position: fixed; }
  .header .header-wrapper {
    width: 97.813vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.917vw; }
    .header .header-wrapper .header-logo_burger {
      display: flex;
      justify-content: space-between;
      margin-top: 0.365vw; }
      .header .header-wrapper .header-logo_burger .header__nav {
        position: absolute;
        right: 1.875vw;
        display: block; }
      .header .header-wrapper .header-logo_burger .header__menu {
        display: flex;
        position: relative;
        z-index: 2; }
      .header .header-wrapper .header-logo_burger .header__menu li {
        list-style: none;
        margin: 0px 0px 0px 1.875vw;
        font-size: 0.833vw;
        text-transform: uppercase;
        text-decoration: none; }
      .header .header-wrapper .header-logo_burger .content-wrapper {
        margin-top: 4.063vw;
        padding: 0.521vw;
        line-height: 1.771vw; }
      .header .header-wrapper .header-logo_burger a {
        color: #242e31;
        text-decoration: none;
        font-weight: 600; }
        .header .header-wrapper .header-logo_burger a img {
          width: 13.438vw; }
    .header .header-wrapper .nav-menu {
      list-style: none;
      display: flex;
      font-style: normal;
      font-weight: bold;
      font-size: 0.938vw;
      line-height: 1.146vw;
      text-align: center; }
      .header .header-wrapper .nav-menu .submenu {
        position: absolute;
        top: 3vw;
        left: 0;
        min-width: 100vw;
        min-height: 22.656vw;
        display: none;
        background: #fff; }
      .header .header-wrapper .nav-menu .nav-links {
        color: #1F316A;
        text-decoration: none;
        border-bottom: 0.150vw solid transparent;
        padding: 0.729vw 0.729vw; }
      .header .header-wrapper .nav-menu .nav:hover .submenu {
        display: block; }
      .header .header-wrapper .nav-menu .nav-links:hover {
        border-bottom: 0.150vw solid #1F316A; }
      .header .header-wrapper .nav-menu .nav {
        background-color: transparent; }
      .header .header-wrapper .nav-menu .deactive {
        color: #1F316A;
        text-decoration: none;
        padding: 0.729vw 0.729vw; }
    .header .header-wrapper .header-right {
      display: flex;
      align-items: center; }
      .header .header-wrapper .header-right .map {
        color: #1f316a;
        display: flex;
        text-decoration: none;
        margin-right: 0.573vw; }
        .header .header-wrapper .header-right .map .map-name {
          font-style: normal;
          font-weight: normal;
          font-size: 0.938vw;
          line-height: 1.146vw;
          padding-left: 0.401vw;
          color: #1F316A; }
      .header .header-wrapper .header-right .shopping-cart {
        display: flex;
        flex-direction: column;
        margin-top: 0.172vw; }

.burger-menu {
  cursor: pointer;
  margin-right: 1.875vw; }
  .burger-menu .input {
    display: flex;
    flex-direction: column; }
  .burger-menu .menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    left: 1.090vw;
    right: 97.760vw;
    top: 1.443vw;
    z-index: 1; }
  .burger-menu .menu-btn > span,
  .burger-menu .menu-btn > span::before,
  .burger-menu .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 1.146vw;
    height: 0.104vw;
    background-color: #1F316A;
    transition-duration: .25s;
    cursor: pointer; }
  .burger-menu .menu-btn > span::before {
    content: '';
    top: -0.417vw; }
  .burger-menu .menu-btn > span::after {
    content: '';
    top: 0.417vw; }
  .burger-menu .menubox {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100vw;
    width: 15.625vw;
    height: 100vw;
    margin: 0;
    padding: 4.167vw 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 0.052vw 0px 0.313vw rgba(0, 0, 0, 0.2);
    transition-duration: .25s; }
  .burger-menu .menu-item {
    display: block;
    padding: 0.625vw 1.250vw;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 1.042vw;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s; }
  .burger-menu .menu-item:hover {
    background-color: #CFD8DC; }
  .burger-menu #menu-toggle {
    opacity: 0; }
  .burger-menu #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg); }
  .burger-menu #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0); }
  .burger-menu #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg); }
  .burger-menu #menu-toggle:checked ~ .menubox {
    visibility: visible;
    left: 0; }

@media all and (max-width: 1366px) {
  .container {
    width: 100vw;
    padding: 0 2.0496vw; }

  .header {
    width: 100vw;
    -webkit-box-shadow: 0 0.364vw 1.8228vw rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.364vw 1.8228vw rgba(0, 0, 0, 0.15); }
    .header .header-wrapper {
      width: 100vw;
      height: 2.917vw; }
      .header .header-wrapper .header-logo_burger {
        margin-top: 0.511vw; }
        .header .header-wrapper .header-logo_burger .header__nav {
          right: 2.625vw; }
        .header .header-wrapper .header-logo_burger .header__menu {
          display: flex;
          position: relative;
          z-index: 2; }
        .header .header-wrapper .header-logo_burger .header__menu li {
          list-style: none;
          margin: 0 0 0 2.625vw;
          font-size: 1.1662vw;
          text-transform: uppercase;
          text-decoration: none; }
        .header .header-wrapper .header-logo_burger .content-wrapper {
          margin-top: 5.6882vw;
          padding: 0.7294vw;
          line-height: 2.4794vw; }
        .header .header-wrapper .header-logo_burger a img {
          width: 13.438vw; }
      .header .header-wrapper .nav-menu {
        font-size: 0.938vw;
        line-height: 1.146vw; }
        .header .header-wrapper .nav-menu .submenu {
          top: 3vw;
          min-width: 140vw;
          min-height: 31.7184vw; }
        .header .header-wrapper .nav-menu .nav-links {
          border-bottom: 0.21vw solid transparent;
          padding: 1.0206vw 1.0206vw; }
        .header .header-wrapper .nav-menu .nav-links:hover {
          border-bottom: 0.21vw solid #1F316A; }
        .header .header-wrapper .nav-menu .deactive {
          padding: 1.0206vw 1.0206vw; }
      .header .header-wrapper .header-right .map {
        margin-right: 0.8022vw; }
        .header .header-wrapper .header-right .map .map-name {
          font-size: 0.938vw;
          line-height: 1.146vw;
          padding-left: 0.5614vw; }
      .header .header-wrapper .header-right .shopping-cart {
        margin-top: 0.2408vw; } }

/*# sourceMappingURL=header-style.css.map */
