@font-face {
  font-family: 'Calibri Regular';
  src: url("fonts/Calibri.eot");
  src: url("fonts/Calibri.eot?#iefix") format("embedded-opentype"), url("fonts/Calibri.woff") format("woff"), url("fonts/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Calibri Regular'; }

a {
  text-decoration: none; }

li {
  list-style: none; }

body {
  font-family: "Calibri Regular"; }

.container {
  width: 71.146vw;
  margin: 0 auto;
  padding: 0 1.042vw; }

.header {
  width: 100vw;
  background: #fff;
  -webkit-box-shadow: 0 0.26vw 1.302vw rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.26vw 1.302vw rgba(0, 0, 0, 0.15);
  z-index: 100;
  position: relative;
  top: 0;
  position: fixed; }
  .header .header-wrapper {
    width: 97.813vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.917vw; }
    .header .header-wrapper .header-logo_burger {
      display: flex;
      justify-content: space-between;
      margin-top: 0.365vw; }
      .header .header-wrapper .header-logo_burger .header__nav {
        position: absolute;
        right: 1.875vw;
        display: block; }
      .header .header-wrapper .header-logo_burger .header__menu {
        display: flex;
        position: relative;
        z-index: 2; }
      .header .header-wrapper .header-logo_burger .header__menu li {
        list-style: none;
        margin: 0 0 0 1.875vw;
        font-size: 0.833vw;
        text-transform: uppercase;
        text-decoration: none; }
      .header .header-wrapper .header-logo_burger .content-wrapper {
        margin-top: 4.063vw;
        padding: 0.521vw;
        line-height: 1.771vw; }
      .header .header-wrapper .header-logo_burger a {
        color: #242e31;
        text-decoration: none;
        font-weight: 600; }
        .header .header-wrapper .header-logo_burger a img {
          width: 13.438vw; }
    .header .header-wrapper .nav-menu {
      list-style: none;
      display: flex;
      font-style: normal;
      font-weight: bold;
      font-size: 0.938vw;
      line-height: 1.146vw;
      text-align: center; }
      .header .header-wrapper .nav-menu .sub-menu {
        position: absolute;
        top: 3vw;
        left: 0;
        min-width: 100vw;
        min-height: 22.656vw;
        display: none;
        background: #fff; }
      .header .header-wrapper .nav-menu a {
        color: #1F316A;
        text-decoration: none;
        border-bottom: 0.150vw solid transparent;
        padding: 0.729vw 0.729vw; }
      .header .header-wrapper .nav-menu .nav:hover .sub-menu {
        display: block; }
      .header .header-wrapper .nav-menu a:hover {
        border-bottom: 0.150vw solid #1F316A; }
      .header .header-wrapper .nav-menu .deactive {
        color: #1F316A;
        text-decoration: none;
        padding: 0.729vw 0.729vw; }
      .header .header-wrapper .nav-menu .nav {
        background-color: transparent; }
    .header .header-wrapper .header-right {
      width: 6.042vw;
      height: 0.990vw; }
      .header .header-wrapper .header-right .map {
        color: #1f316a;
        display: flex;
        align-items: center;
        width: 6.042vw; }
        .header .header-wrapper .header-right .map .map-icon {
          padding-right: 0.401vw; }
          .header .header-wrapper .header-right .map .map-icon img {
            width: 0.693vw;
            height: 0.906vw; }
        .header .header-wrapper .header-right .map .map-name {
          font-style: normal;
          font-weight: normal;
          font-size: 0.938vw;
          color: #1F316A;
          text-decoration: none;
          flex-direction: column;
          justify-content: flex-end;
          margin-right: 0.573vw; }
        .header .header-wrapper .header-right .map .shopping-cart {
          display: flex; }
          .header .header-wrapper .header-right .map .shopping-cart img {
            width: 0.938vw;
            height: 0.817vw; }

.burger-menu {
  cursor: pointer;
  margin-right: 1.875vw; }
  .burger-menu .input {
    display: flex;
    flex-direction: column; }
  .burger-menu .menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    left: 1.090vw;
    right: 97.760vw;
    top: 1.443vw;
    z-index: 1; }
  .burger-menu .menu-btn > span,
  .burger-menu .menu-btn > span::before,
  .burger-menu .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 1.146vw;
    height: 0.104vw;
    background-color: #1F316A;
    transition-duration: .25s;
    cursor: pointer; }
  .burger-menu .menu-btn > span::before {
    content: '';
    top: -0.417vw; }
  .burger-menu .menu-btn > span::after {
    content: '';
    top: 0.417vw; }
  .burger-menu .menubox {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100vw;
    width: 15.625vw;
    height: 100vw;
    margin: 0;
    padding: 4.167vw 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 0.052vw 0px 0.313vw rgba(0, 0, 0, 0.2);
    transition-duration: .25s; }
  .burger-menu .menu-item {
    display: block;
    padding: 0.625vw 1.250vw;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 1.042vw;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s; }
  .burger-menu .menu-item:hover {
    margin-left: 5px; }
  .burger-menu #menu-toggle {
    opacity: 0; }
  .burger-menu #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg); }
  .burger-menu #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0); }
  .burger-menu #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg); }
  .burger-menu #menu-toggle:checked ~ .menubox {
    visibility: visible;
    left: 0; }

@media all and (max-width: 1366px) {
  .container {
    width: 100vw;
    padding: 0 2.0496vw; }

  .header {
    width: 100vw;
    -webkit-box-shadow: 0 0.364vw 1.8228vw rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.364vw 1.8228vw rgba(0, 0, 0, 0.15); }
    .header .header-wrapper {
      width: 97.813vw;
      height: 2.917vw; }
      .header .header-wrapper .header-logo_burger {
        margin-top: 0.511vw; }
        .header .header-wrapper .header-logo_burger .header__nav {
          right: 2.625vw; }
        .header .header-wrapper .header-logo_burger .header__menu {
          display: flex;
          position: relative;
          z-index: 2; }
        .header .header-wrapper .header-logo_burger .header__menu li {
          list-style: none;
          margin: 0 0 0 2.625vw;
          font-size: 1.1662vw;
          text-transform: uppercase;
          text-decoration: none; }
        .header .header-wrapper .header-logo_burger .content-wrapper {
          margin-top: 5.6882vw;
          padding: 0.7294vw;
          line-height: 2.4794vw; }
        .header .header-wrapper .header-logo_burger a img {
          width: 13.438vw; }
      .header .header-wrapper .nav-menu {
        font-size: 0.938vw;
        line-height: 1.146vw; }
        .header .header-wrapper .nav-menu .sub-menu {
          top: 3vw;
          min-width: 140vw;
          min-height: 31.7184vw; }
        .header .header-wrapper .nav-menu a {
          border-bottom: 0.21vw solid transparent;
          padding: 1.0206vw 1.0206vw; }
        .header .header-wrapper .nav-menu a:hover {
          border-bottom: 0.21vw solid #1F316A; }
        .header .header-wrapper .nav-menu .deactive {
          padding: 1.0206vw 1.0206vw; }
      .header .header-wrapper .header-right {
        width: 8.4588vw;
        height: 1.386vw; }
        .header .header-wrapper .header-right .map .map-icon {
          padding-right: 0.5614vw; }
          .header .header-wrapper .header-right .map .map-icon img {
            width: 0.9702vw;
            height: 1.2684vw; }
        .header .header-wrapper .header-right .map .map-name {
          font-size: 1.3132vw;
          margin-right: 0.8022vw; }
        .header .header-wrapper .header-right .map .shopping-cart img {
          width: 1.3132vw;
          height: 1.1438vw; } }
@media all and (max-width: 415px) {
  .header {
    width: 100vw;
    -webkit-box-shadow: 0 1.04vw 5.208vw rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.04vw 5.208vw rgba(0, 0, 0, 0.15); }
    .header .header-wrapper {
      width: 97.813vw;
      height: 11.668vw; }
      .header .header-wrapper .header-logo_burger {
        margin-top: 1.46vw; }
        .header .header-wrapper .header-logo_burger .header__nav {
          position: absolute;
          right: 7.5vw; }
        .header .header-wrapper .header-logo_burger .header__menu li {
          margin: 0 0 0 7.5vw;
          font-size: 3.332vw; }
        .header .header-wrapper .header-logo_burger .content-wrapper {
          margin-top: 16.252vw;
          padding: 2.084vw;
          line-height: 7.084vw; }
        .header .header-wrapper .header-logo_burger a {
          font-weight: 600; }
          .header .header-wrapper .header-logo_burger a img {
            width: 53.752vw; }
      .header .header-wrapper .header_main-nav {
        display: none; }
        .header .header-wrapper .header_main-nav .nav-menu {
          font-size: 0.938vw;
          line-height: 1.146vw; }
          .header .header-wrapper .header_main-nav .nav-menu .sub-menu {
            top: 3vw;
            min-width: 100vw;
            min-height: 22.656vw; }
          .header .header-wrapper .header_main-nav .nav-menu a {
            border-bottom: 0.150vw solid transparent;
            padding: 0.729vw 0.729vw; }
          .header .header-wrapper .header_main-nav .nav-menu .nav:hover .sub-menu {
            display: block; }
          .header .header-wrapper .header_main-nav .nav-menu a:hover {
            border-bottom: 0.150vw solid #1F316A; }
          .header .header-wrapper .header_main-nav .nav-menu .deactive {
            color: #1F316A;
            text-decoration: none;
            padding: 0.729vw 0.729vw; }
          .header .header-wrapper .header_main-nav .nav-menu .nav {
            background-color: transparent; }
      .header .header-wrapper .header-right {
        width: 24.168vw;
        height: 3.96vw; }
        .header .header-wrapper .header-right .map {
          width: 24.168vw; }
          .header .header-wrapper .header-right .map .map-icon {
            padding-right: 1.604vw; }
            .header .header-wrapper .header-right .map .map-icon img {
              width: 2.772vw;
              height: 3.624vw; }
          .header .header-wrapper .header-right .map .map-name {
            font-size: 3.752vw;
            margin-right: 2.292vw; }
          .header .header-wrapper .header-right .map .shopping-cart img {
            width: 3.752vw;
            height: 3.268vw; }

  .burger-menu {
    cursor: pointer;
    margin-right: 7.5vw; }
    .burger-menu .input {
      display: flex;
      flex-direction: column; }
    .burger-menu .menu-btn {
      display: flex;
      align-items: center;
      position: absolute;
      left: 4.36vw;
      right: 391.04vw;
      top: 5.772vw;
      z-index: 1; }
    .burger-menu .menu-btn > span,
    .burger-menu .menu-btn > span::before,
    .burger-menu .menu-btn > span::after {
      display: block;
      position: absolute;
      width: 4.584vw;
      height: 0.416vw;
      background-color: #1F316A;
      transition-duration: .25s;
      cursor: pointer; }
    .burger-menu .menu-btn > span::before {
      content: '';
      top: -1.668vw; }
    .burger-menu .menu-btn > span::after {
      content: '';
      top: 1.668vw; }
    .burger-menu .menubox {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: -100vw;
      width: 62.5vw;
      height: 100vw;
      margin: 0;
      padding: 16.668vw 0;
      list-style: none;
      background-color: #ECEFF1;
      box-shadow: 0.208vw 0px 1.252vw rgba(0, 0, 0, 0.2);
      transition-duration: .25s; }
    .burger-menu .menu-item {
      display: block;
      padding: 2.5vw 5vw;
      color: #333;
      font-family: 'Roboto', sans-serif;
      font-size: 4.168vw;
      font-weight: 600;
      text-decoration: none;
      transition-duration: .25s; }
    .burger-menu .menu-item:hover {
      background-color: #CFD8DC; }
    .burger-menu #menu-toggle {
      opacity: 0; }
    .burger-menu #menu-toggle:checked ~ .menu-btn > span {
      transform: rotate(45deg); }
    .burger-menu #menu-toggle:checked ~ .menu-btn > span::before {
      top: 0;
      transform: rotate(0); }
    .burger-menu #menu-toggle:checked ~ .menu-btn > span::after {
      top: 0;
      transform: rotate(90deg); }
    .burger-menu #menu-toggle:checked ~ .menubox {
      visibility: visible;
      left: 0; } }

/*# sourceMappingURL=header-style.css.map */
