@import "base-scss.scss";

.flex-container {

    display: flex;
    justify-content: space-between;
    width: 69.167vw;
    height: 20.573vw;
    margin: 0 auto;

    .left-item {
        background: url(images/categories__bg01.svg) no-repeat;
        width: 22.396vw;
        position: relative;
    }

    .right-item_box {
        width: 45.729vw;
        
        position: relative;


        .right-item-1 {
            position: absolute;
            top: 0;
            left: 0;
            background: url(images/categories__bg02.svg) no-repeat;
            width: 22.135vw;
            height: 9.792vw;
            position: relative;
        }

        .right-item-2 {
            position: absolute;
            top: 0;
            right: 0;
            background: url(images/categories__bg03.svg) no-repeat;
            width: 22.135vw;
            height: 9.792vw;
        }

        .right-item-3 {
            background: url(images/categories__bg04.svg) no-repeat;
            width: 22.135vw;
            height: 9.792vw;
            position: absolute;
            bottom: 0;
            left: 0;

        }

        .right-item-4 {
            position: absolute;
            bottom: 0;
            right: 0;
            background: url(images/categories__bg05.svg) no-repeat;
            width: 22.135vw;
            height: 9.792vw;
        }
    }

    .categories-item:hover .item-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        opacity: 1;
        transition: .5s;
    }

    .item-content {
        position: absolute;
        top: -2.604vw;
        opacity: 0;
        margin-top: 0.772vw;
        margin-left: 1.151vw;


        .item-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 6.092vw;
            height: 1.403vw;
            background-color: #0C5E5B;
            color: #FFFFFF;
            border-radius: 0.677vw;
            font-weight: 700;
            font-size: 0.469vw;
            border: none;
            outline: none;
            cursor: pointer;
        }

        .item-title {
            font-weight: 700;
            font-size: 1.146vw;
            margin-top: 0.530vw;
            color: #1F316A;
        }
    }
}

@media all and (max-width: 1366px) {
    $coefficient: 1.5;

    .flex-container {

        width: 69.167vw * $coefficient;
        height: 20.573vw * $coefficient;
        margin: 0 auto;
    
        .left-item {
            width: 22.396vw * $coefficient;
        }
    
        .right-item_box {
            width: 45.729vw * $coefficient;
    
            .right-item-1 {
                width: 22.135vw * $coefficient;
                height: 9.792vw * $coefficient;
            }
    
            .right-item-2 {
                width: 22.135vw * $coefficient;
                height: 9.792vw * $coefficient;
            }
    
            .right-item-3 {
                width: 22.135vw * $coefficient;
                height: 9.792vw * $coefficient;
            }
    
            .right-item-4 {
                width: 22.135vw * $coefficient;
                height: 9.792vw * $coefficient;
            }
        }
    
        .categories-item:hover .item-content {
        }
    
        .item-content {
            top: -2.604vw * $coefficient;
            margin-top: 0.772vw * $coefficient;
            margin-left: 1.151vw * $coefficient;
    
    
            .item-button {
                width: 6.092vw * $coefficient;
                height: 1.403vw * $coefficient;
                border-radius: 0.677vw * $coefficient;
                font-size: 0.469vw * $coefficient;
            }
    
            .item-title {
                font-size: 1.146vw * $coefficient;
                margin-top: 0.530vw * $coefficient;
            }
        }
    }
    
}

@media all and (max-width: 415px) {
    $coefficient: 4;

    .flex-container {

        width: 69.167vw * $coefficient;
        height: 20.573vw * $coefficient;
        margin: 0 auto;
    
        .left-item {
            width: 22.396vw * $coefficient;
        }
    
        .right-item_box {
            width: 45.729vw * $coefficient;
    
            .right-item-1 {
                width: 22.135vw * $coefficient;
                height: 9.792vw * $coefficient;
            }
    
            .right-item-2 {
                width: 22.135vw * $coefficient;
                height: 9.792vw * $coefficient;
            }
    
            .right-item-3 {
                width: 22.135vw * $coefficient;
                height: 9.792vw * $coefficient;
            }
    
            .right-item-4 {
                width: 22.135vw * $coefficient;
                height: 9.792vw * $coefficient;
            }
        }
    
        .categories-item:hover .item-content {
        }
    
        .item-content {
            top: -2.604vw * $coefficient;
            margin-top: 0.772vw * $coefficient;
            margin-left: 1.151vw * $coefficient;
    
    
            .item-button {
                width: 6.092vw * $coefficient;
                height: 1.403vw * $coefficient;
                border-radius: 0.677vw * $coefficient;
                font-size: 0.469vw * $coefficient;
            }
    
            .item-title {
                font-size: 1.146vw * $coefficient;
                margin-top: 0.530vw * $coefficient;
            }
        }
    }
    
}