@font-face {
  font-family: 'Calibri Regular';
  src: url("fonts/Calibri.eot");
  src: url("fonts/Calibri.eot?#iefix") format("embedded-opentype"), url("fonts/Calibri.woff") format("woff"), url("fonts/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Calibri Regular';
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Calibri Regular";
}

.container {
  width: 71.146vw;
  margin: 0 auto;
  padding: 0 1.042vw;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 69.167vw;
  height: 20.573vw;
  margin: 0 auto;
}

.flex-container:hover .image-link {
  opacity: 0.8;
}

.categories-item:hover {
  border-radius: 0.313vw;
  -webkit-box-shadow: #00001e;
          box-shadow: #00001e;
  opacity: 1 !important;
}

.categories-item {
  -webkit-transition: opacity 0.3s ease-in-out 0s, border-radius 0.3s ease-in-out 0s, -webkit-box-shadow 0.3s ease-in-out 0s;
  transition: opacity 0.3s ease-in-out 0s, border-radius 0.3s ease-in-out 0s, -webkit-box-shadow 0.3s ease-in-out 0s;
  transition: opacity 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s, border-radius 0.3s ease-in-out 0s;
  transition: opacity 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s, border-radius 0.3s ease-in-out 0s, -webkit-box-shadow 0.3s ease-in-out 0s;
}

.categories-item:hover .item-content {
  top: 1.30vw;
  opacity: 1 !important;
}

.categories-item:hover .item-decoration-button {
  bottom: 0.833vw;
  opacity: 1;
}

.left-item {
  background: url(images/categories__bg01.jpg) no-repeat;
  background-size: 22.396vw;
  width: 22.396vw;
  height: 20.573vw;
  position: relative;
}

.right-item_box .right-item-1 {
  background: url(images/categories__bg02.jpg) no-repeat;
  width: 22.135vw;
  height: 9.792vw;
  background-size: 22.396vw;
  position: relative;
  margin-bottom: 0.990vw;
  display: block;
}

.right-item_box .right-item-2 {
  background: url(images/categories__bg04.jpg) no-repeat;
  width: 22.135vw;
  height: 9.792vw;
  background-size: 22.396vw;
  position: relative;
  display: block;
}

.right-item_box .right-item-3 {
  background: url(images/categories__bg03.jpg) no-repeat;
  width: 22.135vw;
  height: 9.792vw;
  background-size: 22.396vw;
  position: relative;
  margin-bottom: 0.990vw;
  display: block;
}

.right-item_box .right-item-4 {
  background: url(images/categories__bg05.jpg) no-repeat;
  width: 22.135vw;
  height: 9.792vw;
  background-size: 22.396vw;
  position: relative;
  display: block;
}

.item-content {
  position: absolute;
  top: 0.772vw;
  -webkit-transition: top 0.3s ease-in-out 0s;
  transition: top 0.3s ease-in-out 0s;
}

.item-content .item-discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.151vw;
  width: 4.902vw;
  height: 1.403vw;
  background-color: #0C5E5B;
  color: #FFFFFF;
  border-radius: 0.677vw;
  font-weight: 700;
  font-size: 0.469vw;
  border: none;
  outline: none;
}

.item-content .item-title {
  font-weight: 700;
  font-size: 1.146vw;
  margin-top: 0.530vw;
  color: #1F316A;
  margin-left: 1.260vw;
}

.item-decoration-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0.833vw;
  font-size: 0.938vw;
  letter-spacing: 0.016vw;
  border: 0 solid #1e306e;
  background: #1e306e;
  color: white;
  border-radius: 1.354vw;
  width: 7.037vw;
  height: 2.093vw;
  -webkit-transition: bottom 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
  transition: bottom 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
  cursor: pointer;
}

.item-decoration-button:hover {
  background-color: #526699;
}

.fa {
  font-size: 0.938vw;
  margin-left: 0.521vw;
}

@media all and (max-width: 1366px) {
  .flex-container {
    width: 89.9171vw;
    height: 26.7449vw;
  }
  .categories-item:hover {
    border-radius: 0.4069vw;
  }
  .categories-item:hover .item-content {
    top: 1.69vw;
  }
  .categories-item:hover .item-decoration-button {
    bottom: 1.0829vw;
  }
  .left-item {
    background-size: 29.1148vw;
    width: 29.1148vw;
    height: 26.7449vw;
  }
  .right-item_box .right-item-1 {
    width: 28.7755vw;
    height: 12.7296vw;
    background-size: 29.1148vw;
    margin-bottom: 1.287vw;
  }
  .right-item_box .right-item-2 {
    width: 28.7755vw;
    height: 12.7296vw;
    background-size: 29.1148vw;
  }
  .right-item_box .right-item-3 {
    width: 28.7755vw;
    height: 12.7296vw;
    background-size: 29.1148vw;
    margin-bottom: 1.287vw;
  }
  .right-item_box .right-item-4 {
    width: 28.7755vw;
    height: 12.7296vw;
    background-size: 29.1148vw;
  }
  .item-content {
    top: 1.0036vw;
  }
  .item-content .item-discount {
    margin-left: 1.4963vw;
    width: 6.3726vw;
    height: 1.8239vw;
    border-radius: 0.8801vw;
    font-size: 0.6097vw;
  }
  .item-content .item-title {
    font-size: 1.4898vw;
    margin-top: 0.689vw;
    margin-left: 1.638vw;
  }
  .item-decoration-button {
    opacity: 0;
    bottom: 0;
    left: 1.0829vw;
    font-size: 1.2194vw;
    letter-spacing: 0.0208vw;
    border-radius: 1.7602vw;
    width: 9.1481vw;
    height: 2.7209vw;
  }
  .fa {
    font-size: 1.2194vw;
    margin-left: 0.6773vw;
  }
}

@media all and (max-width: 415px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80vw;
    margin: 0 auto;
    height: 82.292vw;
  }
  .flex-container:hover .image-link {
    opacity: 1;
  }
  .categories-item:hover {
    border-radius: 1.252vw;
  }
  .categories-item {
    -webkit-transition: opacity 0.3s ease-in-out 0s, border-radius 0.3s ease-in-out 0s, -webkit-box-shadow 0.3s ease-in-out 0s;
    transition: opacity 0.3s ease-in-out 0s, border-radius 0.3s ease-in-out 0s, -webkit-box-shadow 0.3s ease-in-out 0s;
    transition: opacity 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s, border-radius 0.3s ease-in-out 0s;
    transition: opacity 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s, border-radius 0.3s ease-in-out 0s, -webkit-box-shadow 0.3s ease-in-out 0s;
  }
  .categories-item:hover .item-content {
    top: 3.088vw;
  }
  .categories-item:hover .item-decoration-button {
    bottom: 3.332vw;
    display: none;
  }
  .left-item {
    background: url(images/WRsp7t7dgJA.jpg) no-repeat;
    background-size: 80vw;
    width: 80vw;
    height: 40vw;
    margin-bottom: 3.96vw;
  }
  .right-item_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80vw;
  }
  .right-item_box .right-item-1 {
    background: url(images/Ee3supY6pXE.jpg) no-repeat;
    width: 39vw;
    height: 37vw;
    background-size: 39vw;
    margin-bottom: 3.96vw;
  }
  .right-item_box .right-item-2 {
    background: url(images/Cy4kgQ9ChhE.jpg) no-repeat;
    width: 39vw;
    height: 36vw;
    background-size: 39vw;
  }
  .right-item_box .right-item-3 {
    background: url(images/VAgFrbHs8GE.jpg) no-repeat;
    width: 39vw;
    height: 37vw;
    background-size: 39vw;
    margin-bottom: 3.96vw;
  }
  .right-item_box .right-item-4 {
    background: url(images/MBxFqJktrfY.jpg) no-repeat;
    width: 39vw;
    height: 37vw;
    background-size: 39vw;
  }
  .item-content {
    top: 3.088vw;
  }
  .item-content .item-discount {
    margin-left: 1.604;
    width: 19.608vw;
    height: 5.612vw;
    border-radius: 2.708vw;
    font-size: 1.876vw;
  }
  .item-content .item-title {
    font-size: 3.584vw;
    margin-top: 1.2vw;
    margin-left: 4.04vw;
  }
  .item-decoration-button {
    left: 3.332vw;
    font-size: 3.752vw;
    letter-spacing: 0.064vw;
    border-radius: 5.416vw;
    width: 28.148vw;
    height: 8.372vw;
    display: none;
  }
  .fa {
    font-size: 3.752vw;
    margin-left: 2.084vw;
  }
}
/*# sourceMappingURL=mattress-categories.css.map */