@font-face {
  font-family: 'Calibri Regular';
  src: url("fonts/Calibri.eot");
  src: url("fonts/Calibri.eot?#iefix") format("embedded-opentype"), url("fonts/Calibri.woff") format("woff"), url("fonts/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Calibri Regular';
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Calibri Regular";
}

.container {
  width: 71.146vw;
  margin: 0 auto;
  padding: 0 1.042vw;
}

.product-container {
  width: 77.708vw;
  margin: 0 auto;
  margin-top: 5vw;
  display: block;
}

.zoom-out {
  cursor: -webkit-zoom-out !important;
  cursor: zoom-out !important;
}

.img-one {
  opacity: 1;
}

.zoomImg {
  width: calc(50.999vw * 2) !important;
  height: calc(28.281vw * 2) !important;
}

.product-img_opacity {
  opacity: 0 !important;
}

.product-characteristics-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4.219vw;
}

.product-img-container {
  width: 51vw;
  height: 28.281vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.img-one {
  width: 50.999vw;
  height: 28.281vw;
}

.characteristics-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.second-page-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-page-reviews ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  padding-right: 0.885vw;
  margin-bottom: 0;
}

.reviews-number {
  font-size: 1.042vw;
  line-height: 1.271vw;
  font-weight: 400;
  color: #1F316A;
  cursor: pointer;
}

.product-item_title {
  font-size: 2.188vw;
  font-weight: 700;
  line-height: 2.670vw;
  color: #000000;
}

.product-price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.586vw;
}

.product-discount_price {
  font-size: 1.250vw;
  line-height: 1.526vw;
  font-weight: 700;
  color: #0C5E5B;
}

.product-price {
  font-size: 1.250vw;
  line-height: 1.526vw;
  font-weight: 700;
  color: #8C8B8B;
  text-decoration: line-through;
  margin-left: 0.521vw;
  margin-right: 0.938vw;
}

.product-discount-percent {
  font-size: 0.729vw;
  line-height: 0.890vw;
  font-weight: 700;
  text-align: center;
  padding: 0.313vw 0.781vw;
  color: #FFFFFF;
  background-color: #0C5E5B;
  border-radius: 0.781vw;
  margin-top: 0.7vw;
}

.mattress-parameters {
  margin-top: 0.417vw;
}

.mattress-parameters_title {
  font-size: 1.146vw;
  line-height: 1.399vw;
  font-weight: 700;
  color: #504C4C;
  margin-bottom: 0.521vw;
}

.btn {
  width: 25.052vw;
  height: 3.385vw;
  line-height: 1.399vw;
  padding-left: 1.406vw;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF !important;
  color: #504C4C !important;
  font-size: 1.146vw;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn::after {
  content: none;
}

.dropdown-menu {
  width: 25.052vw;
}

.dropdown-item {
  font-size: 1.146vw;
  line-height: 1.399vw;
  padding-left: 1.406vw;
  font-weight: 700;
  color: #504C4C;
  background-color: #FFFFFF;
}

.mattress-second-parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.146vw;
  margin-bottom: 1.653vw;
}

.load-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 0.833vw;
}

.load-title {
  font-weight: 700;
  font-size: 1.146vw;
  line-height: 1.399vw;
  color: #4F4F4F;
  margin-bottom: 0.313vw;
}

.load-description {
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 1.271vw;
  color: #504C4C;
}

.height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.height-title {
  font-weight: 700;
  font-size: 1.146vw;
  line-height: 1.399vw;
  color: #4F4F4F;
  margin-bottom: 0.313vw;
}

.height-description {
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 1.271vw;
  color: #504C4C;
}

.load-height_description {
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 1.271vw;
  color: #504C4C;
}

.delivery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.7vw;
}

.delivery-title {
  font-weight: 700;
  font-size: 1.042vw;
  line-height: 1.271vw;
  color: #504C4C;
}

.delivery-city {
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 1.271vw;
  color: #504C4C;
}

.delivery-description {
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 1.271vw;
  color: #504C4C;
  padding-top: 0.260vw;
}

.buy {
  width: 24.948vw;
  height: 3.131vw;
  font-weight: 700;
  font-size: 1.250vw;
  line-height: 1.526vw;
  color: #FFFFFF;
  outline: none;
  border: none;
  background-color: #1F316A;
  border-radius: 0.260vw;
}

.product-img_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 51vw;
}

.zoomImg {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.zoom {
  margin-bottom: 1.042vw;
}

.zoom-one {
  margin-bottom: 0;
}

.img {
  width: 24.896vw;
  height: 24.844vw;
}

.product-img_list .zoomImg {
  width: calc(24.896vw*2) !important;
  height: calc(24.844vw*2) !important;
}

@media all and (max-width: 1366px) {
  .product-container {
    width: 101.0204vw;
    margin-top: 6.5vw;
    display: block;
  }
  .zoom-out {
    cursor: -webkit-zoom-out !important;
    cursor: zoom-out !important;
  }
  .img-one {
    width: 50.6454vw;
    height: 23.6301vw;
  }
  .zoomImg {
    width: calc(38.958vw * $coefficient * 2) !important;
    height: calc(18.177vw * $coefficient * 2) !important;
  }
  .product-characteristics-container {
    margin-bottom: 4.219vw;
  }
  .product-img-container {
    width: 66.3vw;
    height: 36.7653vw;
  }
  .second-page-reviews ul {
    padding-right: 1.1505vw;
  }
  .reviews-number {
    font-size: 1.3546vw;
    line-height: 1.6523vw;
  }
  .product-item_title {
    font-size: 2.8444vw;
    line-height: 3.471vw;
  }
  .product-price-container {
    margin-top: 0.7618vw;
  }
  .product-discount_price {
    font-size: 1.625vw;
    line-height: 1.9838vw;
  }
  .product-price {
    font-size: 1.625vw;
    line-height: 1.9838vw;
    margin-left: 0.6773vw;
    margin-right: 1.2194vw;
  }
  .product-discount-percent {
    font-size: 0.9477vw;
    line-height: 1.157vw;
    padding: 0.4069vw 1.0153vw;
    border-radius: 1.0153vw;
    margin-top: 0.91vw;
  }
  .mattress-parameters {
    margin-top: 0.5421vw;
  }
  .mattress-parameters_title {
    font-size: 1.4898vw;
    line-height: 1.8187vw;
    margin-bottom: 0.6773vw;
  }
  .btn {
    width: 32.5676vw;
    height: 4.4005vw;
    line-height: 1.8187vw;
    padding-left: 1.8278vw;
    font-size: 1.4898vw;
  }
  .dropdown-menu {
    width: 32.5676vw;
  }
  .dropdown-item {
    font-size: 1.4898vw;
    line-height: 1.8187vw;
    padding-left: 1.8278vw;
  }
  .mattress-second-parameters {
    margin-top: 1.4898vw;
    margin-bottom: 2.1489vw;
  }
  .load {
    padding-right: 1.0829vw;
  }
  .load-title {
    font-size: 1.4898vw;
    line-height: 1.8187vw;
    margin-bottom: 0.4069vw;
  }
  .load-description {
    font-size: 1.3546vw;
    line-height: 1.6523vw;
  }
  .height-title {
    font-size: 1.4898vw;
    line-height: 1.8187vw;
    margin-bottom: 0.4069vw;
  }
  .height-description {
    font-size: 1.3546vw;
    line-height: 1.6523vw;
  }
  .load-height_description {
    font-size: 1.3546vw;
    line-height: 1.6523vw;
  }
  .delivery-container {
    margin-bottom: 2.21vw;
  }
  .delivery-title {
    font-size: 1.3546vw;
    line-height: 1.6523vw;
  }
  .delivery-city {
    font-size: 1.3546vw;
    line-height: 1.6523vw;
  }
  .delivery-description {
    font-size: 1.3546vw;
    line-height: 1.6523vw;
    padding-top: 0.338vw;
  }
  .buy {
    width: 32.4324vw;
    height: 4.0703vw;
    font-size: 1.625vw;
    line-height: 1.9838vw;
    border-radius: 0.338vw;
  }
  .product-img_list {
    width: 66.3vw;
  }
  .img {
    width: 32.3648vw;
    height: 32.2972vw;
    margin-bottom: 1.3546vw;
  }
  .product-img_list .zoomImg {
    width: calc(24.896vw * $coefficient * 2) !important;
    height: calc(24.844vw * $coefficient * 2) !important;
  }
}

@media all and (max-width: 425px) {
  .product-container {
    width: 100vw;
    margin-top: 20vw;
    display: block;
  }
  .zoom-out {
    cursor: -webkit-zoom-out !important;
    cursor: zoom-out !important;
  }
  .img-one {
    width: 155.832vw;
    height: 72.708vw;
  }
  .zoomImg {
    width: calc(38.958vw * $coefficient * 2) !important;
    height: calc(18.177vw * $coefficient * 2) !important;
  }
  .product-characteristics-container {
    margin-bottom: 4.219vw;
  }
  .product-img-container {
    width: 156vw;
    height: 113.124vw;
  }
  .second-page-reviews ul {
    padding-right: 3.54vw;
  }
  .reviews-number {
    font-size: 4.168vw;
    line-height: 5.084vw;
  }
  .product-item_title {
    font-size: 8.752vw;
    line-height: 10.68vw;
  }
  .product-price-container {
    margin-top: 2.344vw;
  }
  .product-discount_price {
    font-size: 5vw;
    line-height: 6.104vw;
  }
  .product-price {
    font-size: 5vw;
    line-height: 6.104vw;
    margin-left: 2.084vw;
    margin-right: 3.752vw;
  }
  .product-discount-percent {
    font-size: 2.916vw;
    line-height: 3.56vw;
    padding: 1.252vw 3.124vw;
    border-radius: 3.124vw;
    margin-top: 2.8vw;
  }
  .mattress-parameters {
    margin-top: 1.668vw;
  }
  .mattress-parameters_title {
    font-size: 4.584vw;
    line-height: 5.596vw;
    margin-bottom: 2.084vw;
  }
  .btn {
    width: 100.208vw;
    height: 13.54vw;
    line-height: 5.596vw;
    padding-left: 5.624vw;
    font-size: 4.584vw;
  }
  .dropdown-menu {
    width: 100.208vw;
  }
  .dropdown-item {
    font-size: 4.584vw;
    line-height: 5.596vw;
    padding-left: 5.624vw;
  }
  .mattress-second-parameters {
    margin-top: 4.584vw;
    margin-bottom: 6.612vw;
  }
  .load {
    padding-right: 3.332vw;
  }
  .load-title {
    font-size: 4.584vw;
    line-height: 5.596vw;
    margin-bottom: 1.252vw;
  }
  .load-description {
    font-size: 4.168vw;
    line-height: 5.084vw;
  }
  .height-title {
    font-size: 4.584vw;
    line-height: 5.596vw;
    margin-bottom: 1.252vw;
  }
  .height-description {
    font-size: 4.168vw;
    line-height: 5.084vw;
  }
  .load-height_description {
    font-size: 4.168vw;
    line-height: 5.084vw;
  }
  .delivery-container {
    margin-bottom: 6.8vw;
  }
  .delivery-title {
    font-size: 4.168vw;
    line-height: 5.084vw;
  }
  .delivery-city {
    font-size: 4.168vw;
    line-height: 5.084vw;
  }
  .delivery-description {
    font-size: 4.168vw;
    line-height: 5.084vw;
    padding-top: 1.04vw;
  }
  .buy {
    width: 99.792vw;
    height: 12.524vw;
    font-size: 5vw;
    line-height: 6.104vw;
    border-radius: 1.04vw;
  }
  .product-img_list {
    width: 204vw;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .product-img_list .zoomImg {
    width: 151.168vw !important;
    height: 151.168vw !important;
    overflow: inherit;
  }
  .img {
    width: 75.584vw;
    height: 75.584vw;
    overflow: hidden;
  }
  .zoom {
    margin-right: 4.816vw;
    margin-bottom: 4.168vw;
  }
  .zoom-one {
    margin: 0;
  }
  .product-img_list .zoomImg {
    width: calc(24.896vw * $coefficient * 2) !important;
    height: calc(24.844vw * $coefficient * 2) !important;
  }
}
/*# sourceMappingURL=product.css.map */