@import "base-scss.scss";

.categories-container {
    width: 77.865vw;
    margin: 0 auto;
    margin-top: 5vw;
}

.categories-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.categories-item_one {
    background: url(images/categorie-img.png) no-repeat;
    background-color: #E2C2EF;
    background-size: 100%;
}

.categories-item_two {
    background: url(images/categorie-img2.png) no-repeat;
    background-color: #C6F6F1;
    background-size: 100%;
}

.categories-item_three {
    background: url(images/categorie-img3.png) no-repeat;
    background-color: #FDF3BD;
    background-size: 100%;
}

.categories-item {
    display: block;
    width: 25.208vw;
    height: 20.938vw;
    position: relative;
}

.categories-content {
    padding-top: 1.094vw;
    padding-left: 1.094vw;
}

.categoria-title {
    font-weight: 400;
    font-size: 1.875vw;
    line-height: 2.289vw;
    color: #000000;
}

.categoria-description {
    font-weight: 400;
    font-size: 1.458vw;
    line-height: 1.780vw;
    color: #1F316A;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 1;
    bottom: 1.510vw;
    left: 1.042vw;
    font-size: 1.406vw;
    font-weight: 700;
    letter-spacing: 0.016vw;
    line-height: 1.717vw;
    border: 0 solid rgb(30, 48, 110);
    background: rgb(30, 48, 110);
    color: rgb(255, 255, 255);
    border-radius: 0.260vw;
    width: 14.896vw;
    height: 2.708vw;
    transition: bottom 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
    cursor: pointer;
}

.button:hover {
    background: #FFFFFF;
    color: rgb(30, 48, 110);
}

@media all and (max-width: 1366px) {
    $coefficient: 1.3;

    .categories-container {
        width: 77.865vw * $coefficient;
        margin: 0 auto;
        margin-top: 5vw * $coefficient;
    }
    
    .categories-items {
    }
    
    .categories-item_one {
    }
    
    .categories-item_two {
    }
    
    .categories-item_three {
    }
    
    .categories-item {
        width: 25.208vw * $coefficient;
        height: 20.938vw * $coefficient;
    }
    
    .categories-content {
        padding-top: 1.094vw * $coefficient;
        padding-left: 1.094vw * $coefficient;
    }
    
    .categoria-title {
        font-size: 1.875vw * $coefficient;
        line-height: 2.289vw * $coefficient;
    }
    
    .categoria-description {
        font-size: 1.458vw * $coefficient;
        line-height: 1.780vw * $coefficient;
    }
    
    .button {
        bottom: 1.510vw * $coefficient;
        left: 1.042vw * $coefficient;
        font-size: 1.406vw * $coefficient;
        letter-spacing: 0.016vw * $coefficient;
        line-height: 1.717vw * $coefficient;
        border-radius: 0.260vw * $coefficient;
        width: 14.896vw * $coefficient;
        height: 2.708vw * $coefficient;
    }
    
    .button:hover {
    }
    
}

@media all and (max-width: 415px) {
    $coefficient: 3;

    .categories-container {
        width: 80.865vw * $coefficient;
        margin: 0 auto;
        margin-top: 5vw * $coefficient;
    }
    
    .categories-items {
        margin-left: 3.273vw * $coefficient;
    }
    
    .categories-item_one {
        
    }
    
    .categories-item_two {
    }
    
    .categories-item_three {
    }
    
    .categories-item {
        width: 25.208vw * $coefficient;
        height: 20.938vw * $coefficient;
    }
    
    .categories-content {
        padding-top: 1.094vw * $coefficient;
        padding-left: 1.094vw * $coefficient;
    }
    
    .categoria-title {
        font-size: 1.875vw * $coefficient;
        line-height: 2.289vw * $coefficient;
    }
    
    .categoria-description {
        font-size: 1.458vw * $coefficient;
        line-height: 1.780vw * $coefficient;
    }
    
    .button {
        bottom: 1.510vw * $coefficient;
        left: 1.042vw * $coefficient;
        font-size: 1.406vw * $coefficient;
        letter-spacing: 0.016vw * $coefficient;
        line-height: 1.717vw * $coefficient;
        border-radius: 0.260vw * $coefficient;
        width: 14.896vw * $coefficient;
        height: 2.708vw * $coefficient;
    }
    
    .button:hover {
    }
    
}