@font-face {
  font-family: 'Calibri Regular';
  src: url("fonts/Calibri.eot");
  src: url("fonts/Calibri.eot?#iefix") format("embedded-opentype"), url("fonts/Calibri.woff") format("woff"), url("fonts/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Calibri Regular';
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Calibri Regular";
}

.container {
  width: 71.146vw;
  margin: 0 auto;
  padding: 0 1.042vw;
}

.product-page-reviews {
  width: 100vw;
  color: #F2F4F3;
}

.product-page-reviews-container {
  width: 75.946vw;
  margin: 0 auto;
  padding-top: 4.688vw;
  padding-bottom: 2.813vw;
}

.product-page-reviews_title {
  font-weight: 700;
  font-size: 1.875vw;
  line-height: 2.289vw;
  text-align: center;
  color: #1F316A;
  margin-bottom: 2.760vw;
}

.filter-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-reviews_title {
  font-weight: 700;
  font-size: 1.042vw;
  line-height: 1.271vw;
  color: #4F4F4F;
  margin-bottom: 1.563vw;
}

.filter-reviews_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35.365vw;
  margin: 0 auto;
  margin-bottom: 2.500vw;
}

.filter-reviews_button {
  font-weight: 700;
  font-size: 0.885vw;
  line-height: 1.081vw;
  text-align: center;
  color: #1F316A;
  padding: 0.521vw 0.521vw;
  background-color: #FFFFFF;
  border-radius: 0.260vw;
  border: none;
  outline: none;
  cursor: pointer;
}

.filter-reviews_button:hover {
  color: #FFFFFF;
  background-color: #1F316A;
  -webkit-transition: background-color 500ms, color 500ms;
  transition: background-color 500ms, color 500ms;
}

.button-active {
  color: #FFFFFF;
  background-color: #1F316A;
}

.reviews-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.333vw;
}

.reviews-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 24.619vw;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0.208vw 0.208vw;
          box-shadow: rgba(0, 0, 0, 0.25) 0 0.208vw 0.208vw;
  background-color: #FFFFFF;
}

.reviews-item_content {
  padding: 1.146vw 0 1.535vw 1.658vw;
}

.product-page-reviews_tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1.133vw;
}

.tag-name-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.name {
  font-weight: 700;
  font-size: 0.885vw;
  line-height: 1.081vw;
  color: #000000;
}

.city {
  font-weight: 400;
  font-size: 0.885vw;
  line-height: 1.081vw;
  color: #504C4C;
}

.reviews-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.152vw;
}

.product-page-reviews_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews-item_title {
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 1.017vw;
  color: #504C4C;
  text-align: left;
  margin-bottom: 0.553vw;
}

.product-page-reviews_text {
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 1.017vw;
  width: 21.243vw;
  color: #504C4C;
  margin-bottom: 1.167vw;
}

.read-more {
  font-weight: 700;
  font-size: 0.833vw;
  line-height: 1.017vw;
  color: #1F316A;
}

.read-all_reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 0.885vw;
  line-height: 1.081vw;
  border-radius: 0.260vw;
  width: 10.938vw;
  margin: 0 auto;
  padding: 0.521vw 1.042vw;
  background-color: #1F316A;
  color: #FFFFFF;
  cursor: pointer;
}

.read-all_reviews:hover {
  background-color: #FFFFFF;
  color: #1F316A;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0.208vw 0.208vw;
          box-shadow: rgba(0, 0, 0, 0.25) 0 0.208vw 0.208vw;
  -webkit-transition: background-color 500ms, color 500ms;
  transition: background-color 500ms, color 500ms;
}

@media all and (max-width: 1366px) {
  .product-page-reviews {
    width: 100vw;
  }
  .product-page-reviews-container {
    width: 98.7298vw;
    padding-top: 6.0944vw;
    padding-bottom: 3.6569vw;
  }
  .product-page-reviews_title {
    font-size: 2.4375vw;
    line-height: 2.9757vw;
    margin-bottom: 3.588vw;
  }
  .filter-reviews_title {
    font-size: 1.3546vw;
    line-height: 1.6523vw;
    margin-bottom: 2.0319vw;
  }
  .filter-reviews_buttons {
    width: 45.9745vw;
    margin-bottom: 3.25vw;
  }
  .filter-reviews_button {
    font-size: 1.1505vw;
    line-height: 1.4053vw;
    padding: 0.6773vw 0.6773vw;
    border-radius: 0.338vw;
  }
  .filter-reviews_button:hover {
    -webkit-transition: background-color 500ms, color 500ms;
    transition: background-color 500ms, color 500ms;
  }
  .reviews-items {
    margin-bottom: 4.3329vw;
  }
  .reviews-item {
    width: 32.0047vw;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0.2704vw 0.2704vw;
            box-shadow: rgba(0, 0, 0, 0.25) 0 0.2704vw 0.2704vw;
  }
  .reviews-item_content {
    padding: 1.4898vw 0 1.9955vw 2.1554vw;
  }
  .product-page-reviews_tag {
    margin-bottom: 1.4729vw;
  }
  .name {
    font-size: 1.1505vw;
    line-height: 1.4053vw;
  }
  .city {
    font-size: 1.1505vw;
    line-height: 1.4053vw;
  }
  .reviews-item ul {
    margin-bottom: 1.4976vw;
  }
  .reviews-item_title {
    font-size: 1.0829vw;
    line-height: 1.3221vw;
    margin-bottom: 0.7189vw;
  }
  .product-page-reviews_text {
    font-size: 1.0829vw;
    line-height: 1.3221vw;
    width: 27.6159vw;
    margin-bottom: 1.5171vw;
  }
  .read-more {
    font-size: 1.0829vw;
    line-height: 1.3221vw;
  }
  .read-all_reviews {
    font-size: 1.1505vw;
    line-height: 1.4053vw;
    border-radius: 0.338vw;
    width: 14.2194vw;
    padding: 0.6773vw 1.3546vw;
  }
  .read-all_reviews:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0.2704vw 0.2704vw;
            box-shadow: rgba(0, 0, 0, 0.25) 0 0.2704vw 0.2704vw;
    -webkit-transition: background-color 500ms, color 500ms;
    transition: background-color 500ms, color 500ms;
  }
}

@media all and (max-width: 415px) {
  .product-page-reviews {
    width: 100vw;
  }
  .product-page-reviews-container {
    width: 303.784vw;
    padding-top: 18.752vw;
    padding-bottom: 11.252vw;
  }
  .product-page-reviews_title {
    font-size: 7.5vw;
    line-height: 9.156vw;
    margin-bottom: 11.04vw;
  }
  .filter-reviews_title {
    font-size: 4.168vw;
    line-height: 5.084vw;
    margin-bottom: 6.252vw;
  }
  .filter-reviews_buttons {
    width: 141.46vw;
    margin-bottom: 10vw;
  }
  .filter-reviews_button {
    font-size: 3.54vw;
    line-height: 4.324vw;
    padding: 2.084vw 2.084vw;
    border-radius: 1.04vw;
  }
  .filter-reviews_button:hover {
    -webkit-transition: background-color 500ms, color 500ms;
    transition: background-color 500ms, color 500ms;
  }
  .reviews-items {
    margin-bottom: 13.332vw;
  }
  .reviews-item {
    width: 98.476vw;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0.832vw 0.832vw;
            box-shadow: rgba(0, 0, 0, 0.25) 0 0.832vw 0.832vw;
  }
  .reviews-item_content {
    padding: 4.584vw 0 6.14vw 6.632vw;
  }
  .product-page-reviews_tag {
    margin-bottom: 4.532vw;
  }
  .name {
    font-size: 3.54vw;
    line-height: 4.324vw;
  }
  .city {
    font-size: 3.54vw;
    line-height: 4.324vw;
  }
  .reviews-item ul {
    margin-bottom: 4.608vw;
  }
  .reviews-item_title {
    font-size: 3.332vw;
    line-height: 4.068vw;
    margin-bottom: 2.212vw;
  }
  .product-page-reviews_text {
    font-size: 3.332vw;
    line-height: 4.068vw;
    width: 84.972vw;
    margin-bottom: 4.668vw;
  }
  .read-more {
    font-size: 3.332vw;
    line-height: 4.068vw;
  }
  .read-all_reviews {
    font-size: 3.54vw;
    line-height: 4.324vw;
    border-radius: 1.04vw;
    width: 43.752vw;
    padding: 2.084vw 4.168vw;
  }
  .read-all_reviews:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0.832vw 0.832vw;
            box-shadow: rgba(0, 0, 0, 0.25) 0 0.832vw 0.832vw;
    -webkit-transition: background-color 500ms, color 500ms;
    transition: background-color 500ms, color 500ms;
  }
}
/*# sourceMappingURL=second-page-reviews.css.map */