@import "base-scss.scss";

.product-page-reviews {
    width: 100vw;
    color: #F2F4F3;
}

.product-page-reviews-container {
    width: 75.946vw;
    margin: 0 auto;
    padding-top: 4.688vw;
    padding-bottom: 2.813vw;
}

.product-page-reviews_title {
    font-weight: 700;
    font-size: 1.875vw;
    line-height: 2.289vw;
    text-align: center;
    color: #1F316A;
    margin-bottom: 2.760vw;
}

.filter-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-reviews_title {
    font-weight: 700;
    font-size: 1.042vw;
    line-height: 1.271vw;
    color: #4F4F4F;
    margin-bottom: 1.563vw;
}

.filter-reviews_buttons {
    display: flex;
    justify-content: space-between;
    width: 35.365vw;
    margin: 0 auto;
    margin-bottom: 2.500vw;
}

.filter-reviews_button {
    font-weight: 700;
    font-size: 0.885vw;
    line-height: 1.081vw;
    text-align: center;
    color: #1F316A;
    padding: 0.521vw 0.521vw;
    background-color: #FFFFFF;
    border-radius: 0.260vw;
    border: none;
    outline: none;
    cursor: pointer;
}

.filter-reviews_button:hover {
    color: #FFFFFF;
    background-color: #1F316A;
    transition: background-color 500ms, color 500ms;
}

.button-active {
    color: #FFFFFF;
    background-color: #1F316A;
}

.reviews-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.333vw;
}

.reviews-item {
    display: flex;
    flex-direction: column;
    width: 24.619vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.208vw 0.208vw;
    background-color: #FFFFFF;
}

.reviews-item_content {
    padding: 1.146vw 0 1.535vw 1.658vw;
}

.product-page-reviews_tag {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.133vw;
}

.product-page-reviews_tag .tag-icon {
}

.tag-name-city {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-weight: 700;
    font-size: 0.885vw;
    line-height: 1.081vw;
    color: #000000;
}

.city {
    font-weight: 400;
    font-size: 0.885vw;
    line-height: 1.081vw;
    color: #504C4C;
}

.reviews-item ul {
    display: flex;
    margin-bottom: 1.152vw;
}

.product-page-reviews_content {
    display: flex;
    flex-direction: column;
}

.reviews-item_title {
    font-weight: 400;
    font-size: 0.833vw;
    line-height: 1.017vw;
    color: #504C4C;
    text-align: left;
    margin-bottom: 0.553vw;
}

 .product-page-reviews_text {
    font-weight: 400;
    font-size: 0.833vw;
    line-height: 1.017vw;
    width: 21.243vw;
    color: #504C4C;
    margin-bottom: 1.167vw;
}

.read-more {
    font-weight: 700;
    font-size: 0.833vw;
    line-height: 1.017vw;
    color: #1F316A;
}

.read-all_reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 0.885vw;
    line-height: 1.081vw;
    border-radius: 0.260vw;
    width: 10.938vw;
    margin: 0 auto;
    padding: 0.521vw 1.042vw;
    background-color: #1F316A;
    color: #FFFFFF;
    cursor: pointer;
}

.read-all_reviews:hover {
    background-color: #FFFFFF;
    color: #1F316A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.208vw 0.208vw;
    transition: background-color 500ms, color 500ms;
}

@media all and (max-width: 1366px) {
    $coefficient: 1.3;

    .product-page-reviews {
        width: 100vw;
    }
    
    .product-page-reviews-container {
        width: 75.946vw * $coefficient;
        padding-top: 4.688vw * $coefficient;
        padding-bottom: 2.813vw * $coefficient;
    }
    
    .product-page-reviews_title {
        font-size: 1.875vw * $coefficient;
        line-height: 2.289vw * $coefficient;
        margin-bottom: 2.760vw * $coefficient;
    }
    
    .filter-reviews {
    }
    
    .filter-reviews_title {
        font-size: 1.042vw * $coefficient;
        line-height: 1.271vw * $coefficient;
        margin-bottom: 1.563vw * $coefficient;
    }
    
    .filter-reviews_buttons {
        width: 35.365vw * $coefficient;
        margin-bottom: 2.500vw * $coefficient;
    }
    
    .filter-reviews_button {
        font-size: 0.885vw * $coefficient;
        line-height: 1.081vw * $coefficient;
        padding: 0.521vw * $coefficient 0.521vw * $coefficient;
        border-radius: 0.260vw * $coefficient;
    }
    
    .filter-reviews_button:hover {
        transition: background-color 500ms, color 500ms;
    }
    
    .button-active {
    }
    
    .reviews-items {
        margin-bottom: 3.333vw * $coefficient;
    }
    
    .reviews-item {
        width: 24.619vw * $coefficient;
        box-shadow: rgba(0, 0, 0, 0.25) 0 0.208vw * $coefficient 0.208vw * $coefficient;
    }
    
    .reviews-item_content {
        padding: 1.146vw * $coefficient 0 1.535vw * $coefficient 1.658vw * $coefficient;
    }
    
    .product-page-reviews_tag {
        margin-bottom: 1.133vw * $coefficient; 
    }
    
    .product-page-reviews_tag .tag-icon {
    }
    
    .tag-name-city {

    }
    
    .name {
        font-size: 0.885vw * $coefficient;
        line-height: 1.081vw * $coefficient;
    }
    
    .city {
        font-size: 0.885vw * $coefficient;
        line-height: 1.081vw * $coefficient;
    }
    
    .reviews-item ul {
        margin-bottom: 1.152vw * $coefficient;
    }
    
    .product-page-reviews_content {
    }
    
    .reviews-item_title {
        font-size: 0.833vw * $coefficient;
        line-height: 1.017vw * $coefficient;
        margin-bottom: 0.553vw * $coefficient;
    }
    
     .product-page-reviews_text {
        font-size: 0.833vw * $coefficient;
        line-height: 1.017vw * $coefficient;
        width: 21.243vw * $coefficient;
        margin-bottom: 1.167vw * $coefficient;
    }
    
    .read-more {
        font-size: 0.833vw * $coefficient;
        line-height: 1.017vw * $coefficient;
    }
    
    .read-all_reviews {
        font-size: 0.885vw * $coefficient;
        line-height: 1.081vw * $coefficient;
        border-radius: 0.260vw * $coefficient;
        width: 10.938vw * $coefficient;
        padding: 0.521vw * $coefficient 1.042vw * $coefficient;
    }
    
    .read-all_reviews:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 0.208vw * $coefficient 0.208vw * $coefficient;
        transition: background-color 500ms, color 500ms;
    }
    
}

@media all and (max-width: 415px) {
    $coefficient: 4;

    .product-page-reviews {
        width: 100vw;
    }
    
    .product-page-reviews-container {
        width: 75.946vw * $coefficient;
        padding-top: 4.688vw * $coefficient;
        padding-bottom: 2.813vw * $coefficient;
    }
    
    .product-page-reviews_title {
        font-size: 1.875vw * $coefficient;
        line-height: 2.289vw * $coefficient;
        margin-bottom: 2.760vw * $coefficient;
    }
    
    .filter-reviews {
    }
    
    .filter-reviews_title {
        font-size: 1.042vw * $coefficient;
        line-height: 1.271vw * $coefficient;
        margin-bottom: 1.563vw * $coefficient;
    }
    
    .filter-reviews_buttons {
        width: 35.365vw * $coefficient;
        margin-bottom: 2.500vw * $coefficient;
    }
    
    .filter-reviews_button {
        font-size: 0.885vw * $coefficient;
        line-height: 1.081vw * $coefficient;
        padding: 0.521vw * $coefficient 0.521vw * $coefficient;
        border-radius: 0.260vw * $coefficient;
    }
    
    .filter-reviews_button:hover {
        transition: background-color 500ms, color 500ms;
    }
    
    .button-active {
    }
    
    .reviews-items {
        margin-bottom: 3.333vw * $coefficient;
    }
    
    .reviews-item {
        width: 24.619vw * $coefficient;
        box-shadow: rgba(0, 0, 0, 0.25) 0 0.208vw * $coefficient 0.208vw * $coefficient;
    }
    
    .reviews-item_content {
        padding: 1.146vw * $coefficient 0 1.535vw * $coefficient 1.658vw * $coefficient;
    }
    
    .product-page-reviews_tag {
        margin-bottom: 1.133vw * $coefficient; 
    }
    
    .product-page-reviews_tag .tag-icon {
    }
    
    .tag-name-city {

    }
    
    .name {
        font-size: 0.885vw * $coefficient;
        line-height: 1.081vw * $coefficient;
    }
    
    .city {
        font-size: 0.885vw * $coefficient;
        line-height: 1.081vw * $coefficient;
    }
    
    .reviews-item ul {
        margin-bottom: 1.152vw * $coefficient;
    }
    
    .product-page-reviews_content {
    }
    
    .reviews-item_title {
        font-size: 0.833vw * $coefficient;
        line-height: 1.017vw * $coefficient;
        margin-bottom: 0.553vw * $coefficient;
    }
    
     .product-page-reviews_text {
        font-size: 0.833vw * $coefficient;
        line-height: 1.017vw * $coefficient;
        width: 21.243vw * $coefficient;
        margin-bottom: 1.167vw * $coefficient;
    }
    
    .read-more {
        font-size: 0.833vw * $coefficient;
        line-height: 1.017vw * $coefficient;
    }
    
    .read-all_reviews {
        font-size: 0.885vw * $coefficient;
        line-height: 1.081vw * $coefficient;
        border-radius: 0.260vw * $coefficient;
        width: 10.938vw * $coefficient;
        padding: 0.521vw * $coefficient 1.042vw * $coefficient;
    }
    
    .read-all_reviews:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 0.208vw * $coefficient 0.208vw * $coefficient;
        transition: background-color 500ms, color 500ms;
    }
    
}