@font-face {
  font-family: 'Calibri Regular';
  src: url("fonts/Calibri.eot");
  src: url("fonts/Calibri.eot?#iefix") format("embedded-opentype"), url("fonts/Calibri.woff") format("woff"), url("fonts/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Calibri Regular';
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Calibri Regular";
}

.container {
  width: 71.146vw;
  margin: 0 auto;
  padding: 0 1.042vw;
}

.categories-container {
  width: 77.865vw;
  margin: 0 auto;
  margin-top: 5vw;
}

.categories-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories-item_one {
  background: url(images/categorie-img.png) no-repeat;
  background-color: #E2C2EF;
  background-size: 100%;
}

.categories-item_two {
  background: url(images/categorie-img2.png) no-repeat;
  background-color: #C6F6F1;
  background-size: 100%;
}

.categories-item_three {
  background: url(images/categorie-img3.png) no-repeat;
  background-color: #FDF3BD;
  background-size: 100%;
}

.categories-item {
  display: block;
  width: 25.208vw;
  height: 20.938vw;
  position: relative;
}

.categories-content {
  padding-top: 1.094vw;
  padding-left: 1.094vw;
}

.categoria-title {
  font-weight: 400;
  font-size: 1.875vw;
  line-height: 2.289vw;
  color: #000000;
}

.categoria-description {
  font-weight: 400;
  font-size: 1.458vw;
  line-height: 1.780vw;
  color: #1F316A;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  opacity: 1;
  bottom: 1.510vw;
  left: 1.042vw;
  font-size: 1.406vw;
  font-weight: 700;
  letter-spacing: 0.016vw;
  line-height: 1.717vw;
  border: 0 solid #1e306e;
  background: #1e306e;
  color: white;
  border-radius: 0.260vw;
  width: 14.896vw;
  height: 2.708vw;
  -webkit-transition: bottom 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
  transition: bottom 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
  cursor: pointer;
}

.button:hover {
  background: #FFFFFF;
  color: #1e306e;
}

@media all and (max-width: 1366px) {
  .categories-container {
    width: 101.2245vw;
    margin: 0 auto;
    margin-top: 6.5vw;
  }
  .categories-item {
    width: 32.7704vw;
    height: 27.2194vw;
  }
  .categories-content {
    padding-top: 1.4222vw;
    padding-left: 1.4222vw;
  }
  .categoria-title {
    font-size: 2.4375vw;
    line-height: 2.9757vw;
  }
  .categoria-description {
    font-size: 1.8954vw;
    line-height: 2.314vw;
  }
  .button {
    bottom: 1.963vw;
    left: 1.3546vw;
    font-size: 1.8278vw;
    letter-spacing: 0.0208vw;
    line-height: 2.2321vw;
    border-radius: 0.338vw;
    width: 19.3648vw;
    height: 3.5204vw;
  }
}

@media all and (max-width: 415px) {
  .categories-container {
    width: 242.595vw;
    margin: 0 auto;
    margin-top: 15vw;
  }
  .categories-items {
    margin-left: 9.819vw;
  }
  .categories-item {
    width: 75.624vw;
    height: 62.814vw;
  }
  .categories-content {
    padding-top: 3.282vw;
    padding-left: 3.282vw;
  }
  .categoria-title {
    font-size: 5.625vw;
    line-height: 6.867vw;
  }
  .categoria-description {
    font-size: 4.374vw;
    line-height: 5.34vw;
  }
  .button {
    bottom: 4.53vw;
    left: 3.126vw;
    font-size: 4.218vw;
    letter-spacing: 0.048vw;
    line-height: 5.151vw;
    border-radius: 0.78vw;
    width: 44.688vw;
    height: 8.124vw;
  }
}
/*# sourceMappingURL=second-page-categories.css.map */