@import "base-scss.scss";

body {height: 1000px;}

.slider-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 68.958vw;
}

.second-slider-title {
    font-size: 1.875vw;
    font-weight: 700;
    text-align: center;
    color: #1F316A;
}

.second-slider {
    overflow: hidden;
    max-width: 61.375vw;
    margin: 0 auto;
}

.slider__wrapper {
    position: relative;
    overflow: hidden;
    margin-top: 5.208vw;
}

.slider__items {
    display: flex;
    transition: transform .5s ease;
}

.item {
    display: flex;
    justify-content: center;
}

.item_1 {}

.item_2 {}

.item_3 {}

.item_4 {}



.slider-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .slider-reviews {
        display: flex;
        flex-direction: column;
        position: relative;
        min-width: 38.333vw;

        .slider-stars-menu {
            display: flex;
            justify-content: space-between;
            width: 6.768vw;
        }

        .slider-description {
            text-align: left;
            font-size: 1.719vw;
            line-height: 2.098vw;
            font-weight: 700;
            color: #17215B;
            width: 38.333vw;
            margin-top: 1.510vw;
            margin-bottom: 2.344vw;
        }

        .slider-tag {
            display: flex;
            align-items: center;

            .name-city {
                display: flex;
                flex-direction: column;
                margin-left: 0.431vw;

                .name {
                    font-size: 1.042vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.250vw;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;
                }

                .city {
                    font-size: 0.938vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.146vw;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #504C4C;
                }
            }
        }
    }
}

.slider-title {
    text-align: center;
    font-size: 3.385vw;
    line-height: 4.375vw;
    color: #17215B;
    font-weight: 700;
}



.slider-button {
    margin-top: 2.083vw;
    width: 12.032vw;
    height: 2.552vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F316A;
    color: #FFFFFF;
    font-size: 0.938vw;
    font-weight: 400;
    border-radius: 0.260vw;
    border: none;
    outline: none;
    cursor: pointer;
}

.slider2-image {

    .slider2-title {
        width: 700;
        font-size: 0.885vw;
        color: #1F316A;
    }

    .slider2-price {
        width: 10.833vw;
        display: flex;
        justify-content: space-between;
        .title {
            width: 700;
            font-size: 0.885vw;
            color: #000000;
        }

        .discount-price {
            width: 700;
            font-size: 0.885vw;
            color: #27706D;
        }

        .price {
            width: 700;
            font-size: 0.885vw;
            color: #414141;
            text-decoration: line-through;
            text-decoration-color: #000000;
        }
    }
}

.transition-none {
    transition: none
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative
}

.slider__control {
    position: absolute;
    top: 50%;
    width: 2.969vw;
    height: 2.969vw;
    border-radius: 50%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, .3);
    user-select: none;
}

.slider-container:hover .slider__control_show {
    display: flex;
}

.slider__control_show {
    display: none;
}

.slider__control:focus,
.slider__control:hover {
    color: #fff;
    text-decoration: none;
    opacity: .8;
}

.slider__control_prev {
    left: 0
}

.slider__control_next {
    right: 0
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 1.042vw;
    height: 1.560vw;
    background: transparent no-repeat center center;
    background-size: 100% 100%
}

.slider__control_prev::before {
    background: url(images/Vector-arrow-left.svg) no-repeat;
}

.slider__control_next::before {
    background: url(images/Vector-arrow-right.svg) no-repeat;
}


.slider__indicators {
    margin-left: 2vw;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: start;
    padding-left: 0;
    list-style: none;
    user-select: none
}

.slider__indicator {
    flex: 0 1 auto;
    width: 0.408vw;
    height: 0.417vw;
    border-radius: 50%;
    margin-right: 0.156vw;
    margin-left: 0.156vw;
    background-color: #C4C4C4;
    background-clip: padding-box;
    cursor: pointer;
}

.slider__indicator_active {
    background-color: #414141;
}

@media all and (max-width: 1366px) {

    $coefficient: 1.5;
    $icoefficient: 2;

.slider-container {
    max-width: 68.958vw  * $coefficient;
}

.second-slider-title {
    font-size: 1.875vw * $coefficient;
}

.second-slider {
    max-width: 61.375vw * $coefficient;
}

.slider__wrapper {
    margin-top: 5.208vw * $coefficient;
}

.slider__items {
}

.item {

}

.item_1 {}

.item_2 {}

.item_3 {}

.item_4 {}



.slider-content {
    .slider-reviews {


        .slider-stars-menu {

            width: 6.768vw * $coefficient;
        }

        .slider-description {
            font-size: 1.719vw * $coefficient;
            line-height: 2.098vw * $coefficient;
            width: 38.333vw * $coefficient;
            margin-top: 1.510vw * $coefficient;
            margin-bottom: 2.344vw * $coefficient;
        }

        .slider-tag {


            .name-city {

                margin-left: 0.431vw * $coefficient;

                .name {
                    font-size: 1.042vw * $coefficient;


                    line-height: 1.250vw * $coefficient;
                    letter-spacing: 0em;

                }

                .city {
                    font-size: 0.938vw * $coefficient;
                    line-height: 1.146vw * $coefficient;
                    letter-spacing: 0em;
                }
            }
        }
    }
}

.slider-title {
    font-size: 3.385vw * $coefficient;
    line-height: 4.375vw * $coefficient;
}



.slider-button {
    margin-top: 2.083vw * $coefficient;
    width: 12.032vw * $coefficient;
    height: 2.552vw * $coefficient;
    font-size: 0.938vw * $coefficient;
    border-radius: 0.260vw * $coefficient;
}

.slider2-image {

    .slider2-title {
        font-size: 0.885vw * $coefficient;
    }

    .slider2-price {
        width: 10.833vw * $coefficient;
        .title {
            font-size: 0.885vw * $coefficient;
        }

        .discount-price {
            font-size: 0.885vw * $coefficient;
        }

        .price {
            font-size: 0.885vw * $coefficient;
        }
    }
}

.transition-none {
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative
}

.slider__control {
    top: 50%;
    width: 2.969vw * $coefficient;
    height: 2.969vw * $coefficient;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-container:hover .slider__control_show {
}

.slider__control_show {
}

.slider__control:focus,
.slider__control:hover {
}

.slider__control_prev {
}

.slider__control_next {
}

.slider__control::before {

    width: 1.042vw * $coefficient;
    height: 1.560vw * $coefficient;
    background-size: 100% 100%
}

.slider__control_prev::before {
}

.slider__control_next::before {
}


.slider__indicators {
    margin-left: 2vw * $icoefficient;
    padding-left: 0;

}

.slider__indicator {
    flex: 0 1 auto;
    width: 0.408vw * $icoefficient;
    height: 0.417vw * $icoefficient;
    border-radius: 50%;
    margin-right: 0.156vw * $icoefficient;
    margin-left: 0.156vw * $coefficient;
}

.slider__indicator_active {
}

}

@media all and (max-width: 415px) {

    $coefficient: 4;
    $icoefficient: 7;

    .slider-container {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        max-width: 68.958vw * $coefficient;
    }
    
    .second-slider-title {
        font-size: 1.875vw * $coefficient;
        font-weight: 700;
        text-align: center;
        color: #1F316A;
    }
    
    .second-slider {
        overflow: hidden;
        max-width: 61.375vw * $coefficient;
        margin: 0 auto;
    }
    
    .slider__wrapper {
        position: relative;
        overflow: hidden;
        margin-top: 5.208vw * $coefficient;
    }
    
    .slider__items {
        display: flex;
        transition: transform .5s ease;
    }
    
    .item {
        display: flex;
        justify-content: center;
    }
    
    .item_1 {}
    
    .item_2 {}
    
    .item_3 {}
    
    .item_4 {}
    
    
    
    .slider-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    
        .slider-reviews {
            display: flex;
            flex-direction: column;
            position: relative;
            min-width: 38.333vw * $coefficient;
    
            .slider-stars-menu {
                display: flex;
                justify-content: space-between;
                width: 6.768vw * $coefficient;
            }
    
            .slider-description {
                text-align: left;
                font-size: 1.719vw * $coefficient;
                line-height: 2.098vw * $coefficient;
                font-weight: 700;
                color: #17215B;
                width: 38.333vw * $coefficient;
                margin-top: 1.510vw * $coefficient;
                margin-bottom: 2.344vw * $coefficient;
            }
    
            .slider-tag {
                display: flex;
                align-items: center;
    
                .name-city {
                    display: flex;
                    flex-direction: column;
                    margin-left: 0.431vw * $coefficient;
    
                    .name {
                        font-size: 1.042vw * $coefficient;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.250vw * $coefficient;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #000000;
                    }
    
                    .city {
                        font-size: 0.938vw * $coefficient;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.146vw * $coefficient;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #504C4C;
                    }
                }
            }
        }
    }
    
    .slider-title {
        text-align: center;
        font-size: 3.385vw * $coefficient;
        line-height: 4.375vw * $coefficient; 
        color: #17215B;
        font-weight: 700;
    }
    
    
    
    .slider-button {
        margin-top: 2.083vw * $coefficient;
        width: 12.032vw * $coefficient;
        height: 2.552vw * $coefficient;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1F316A;
        color: #FFFFFF;
        font-size: 0.938vw * $coefficient;
        font-weight: 400;
        border-radius: 0.260vw * $coefficient;
        border: none;
        outline: none;
        cursor: pointer;
    }
    
    .slider2-image {
    
        .slider2-title {
            width: 700;
            font-size: 0.885vw * $coefficient;
            color: #1F316A;
        }
    
        .slider2-price {
            width: 10.833vw * $coefficient;
            display: flex;
            justify-content: space-between;
            .title {
                width: 700;
                font-size: 0.885vw * $coefficient;
                color: #000000;
            }
    
            .discount-price {
                width: 700;
                font-size: 0.885vw * $coefficient;
                color: #27706D;
            }
    
            .price {
                width: 700;
                font-size: 0.885vw * $coefficient;
                color: #414141;
                text-decoration: line-through;
                text-decoration-color: #000000;
            }
        }
    }
    
    .transition-none {
        transition: none
    }
    
    .slider__item {
        flex: 0 0 100%;
        max-width: 100%;
        position: relative
    }
    
    .slider__control {
        position: absolute;
        top: 50%;
        width: 2.969vw;
        height: 2.969vw;
        border-radius: 50%;
        transform: translateY(-50%);
        align-items: center;
        justify-content: center;
        color: #fff;
        background: rgba(0, 0, 0, .3);
        user-select: none;
    }
    
    .slider-container:hover .slider__control_show {
        display: flex;
    }
    
    .slider__control_show {
        display: none !important;
    }
    
    .slider__control:focus,
    .slider__control:hover {
        color: #fff;
        text-decoration: none;
        opacity: .8;
    }
    
    .slider__control_prev {
        left: 0
    }
    
    .slider__control_next {
        right: 0
    }
    
    .slider__control::before {
        content: '';
        display: inline-block;
        width: 1.042vw * $coefficient;
        height: 1.560vw * $coefficient;
        background: transparent no-repeat center center;
        background-size: 100% 100%
    }
    
    .slider__control_prev::before {
        background: url(images/Vector-arrow-left.svg) no-repeat;
    }
    
    .slider__control_next::before {
        background: url(images/Vector-arrow-right.svg) no-repeat;
    }
    
    
    .slider__indicators {
        margin-left: 2vw * $icoefficient;
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: start;
        padding-left: 0;
        list-style: none;
        user-select: none
    }
    
    .slider__indicator {
        flex: 0 1 auto;
        width: 0.408vw * $icoefficient;
        height: 0.417vw * $icoefficient;
        border-radius: 50%;
        margin-right: 0.156vw * $icoefficient;
        margin-left: 0.156vw * $icoefficient;
        background-color: #C4C4C4;
        background-clip: padding-box;
        cursor: pointer;
    }
    
    .slider__indicator_active {
        background-color: #414141;
    }
}