@font-face {
  font-family: 'Calibri Regular';
  src: url("fonts/Calibri.eot");
  src: url("fonts/Calibri.eot?#iefix") format("embedded-opentype"), url("fonts/Calibri.woff") format("woff"), url("fonts/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Calibri Regular'; }

a {
  text-decoration: none; }

li {
  list-style: none; }

body {
  font-family: "Calibri Regular"; }

.container {
  width: 71.146vw;
  margin: 0 auto;
  padding: 0 1.042vw; }

.slider {
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto; }

.slider__wrapper {
  position: relative;
  overflow: hidden;
  background-color: #eee; }

.slider__items {
  display: flex;
  transition: transform 0.5s ease; }

.item {
  display: flex;
  justify-content: center; }

.item_1 {
  height: 40.104vw;
  background: url(images/slid1-bg.svg); }

.item_2 {
  height: 40.104vw;
  background: url(images/slid1-bg.svg); }

.item_3 {
  height: 40.104vw;
  background: url(images/slid1-bg.svg); }

.item_4 {
  height: 40.104vw;
  background: url(images/slid1-bg.svg); }

.slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.slider-title {
  text-align: center;
  font-size: 3.385vw;
  line-height: 4.375vw;
  color: #17215B;
  font-weight: 700; }

.slider-description {
  text-align: center;
  font-size: 1.146vw;
  line-height: 1.399vw;
  font-weight: 700;
  color: #17215B; }

.slider-button {
  margin-top: 2.083vw;
  width: 13.750vw;
  height: 3.646vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CB372A;
  color: #FFFFFF;
  font-size: 1.146vw;
  font-weight: 700;
  border-radius: 0.260vw;
  border: none;
  outline: none;
  cursor: pointer; }

.transition-none {
  transition: none; }

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative; }

.slider__control {
  position: absolute;
  top: 50%;
  width: 2.083vw;
  height: 2.604vw;
  transform: translateY(-50%);
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  opacity: .5;
  user-select: none; }

.slider__control_show {
  display: flex; }

.slider__control:focus,
.slider__control:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.7; }

.slider__control_prev {
  left: 0; }

.slider__control_next {
  right: 0; }

.slider__control::before {
  content: '';
  display: inline-block;
  width: 1.042vw;
  height: 1.042vw;
  background: transparent no-repeat center center;
  background-size: 100% 100%; }

.slider__control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }

.slider__control_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }

.slider__indicators {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.521vw;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0 15%;
  list-style: none;
  user-select: none; }

.slider__indicator {
  flex: 0 1 auto;
  width: 1.563vw;
  height: 1.198vw;
  margin-right: 0.156vw;
  margin-left: 0.156vw;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 0.521vw solid transparent;
  border-bottom: 0.521vw solid transparent;
  cursor: pointer; }

.slider__indicator_active {
  background-color: #fff; }

@media all and (max-width: 1366px) {
  .slider {
    max-width: 100vw; }

  .slider__items {
    transition: transform 0.5s ease; }

  .item_1 {
    height: 60.156vw; }

  .item_2 {
    height: 60.156vw; }

  .item_3 {
    height: 60.156vw; }

  .item_4 {
    height: 60.156vw; }

  .slider-title {
    font-size: 5.0775vw;
    line-height: 6.5625vw; }

  .slider-description {
    font-size: 1.719vw;
    line-height: 2.0985vw; }

  .slider-button {
    margin-top: 3.1245vw;
    width: 20.625vw;
    height: 5.469vw;
    font-size: 1.719vw;
    border-radius: 0.39vw; }

  .slider__item {
    flex: 0 0 100%;
    max-width: 100%; }

  .slider__control {
    top: 50%;
    width: 3.1245vw;
    height: 3.906vw;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    opacity: .5; }

  .slider__control_prev {
    left: 0; }

  .slider__control_next {
    right: 0; }

  .slider__control::before {
    width: 1.563vw;
    height: 1.563vw;
    background-size: 100% 100%; }

  .slider__control_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }

  .slider__control_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }

  .slider__indicators {
    left: 0;
    right: 0;
    bottom: 0.7815vw;
    padding-left: 0;
    margin: 0 15%; }

  .slider__indicator {
    flex: 0 1 auto;
    width: 2.3445vw;
    height: 1.797vw;
    margin-right: 0.234vw;
    margin-left: 0.234vw;
    background-color: rgba(255, 255, 255, 0.5);
    border-top: 0.7815vw solid transparent;
    border-bottom: 0.7815vw solid transparent; }

  .slider__indicator_active {
    background-color: #fff; } }
@media all and (max-width: 415px) {
  .slider {
    max-width: 100vw; }

  .slider__items {
    transition: transform 0.5s ease; }

  .item_1 {
    height: 160.416vw; }

  .item_2 {
    height: 160.416vw; }

  .item_3 {
    height: 160.416vw; }

  .item_4 {
    height: 160.416vw; }

  .slider-title {
    font-size: 13.54vw;
    line-height: 17.5vw; }

  .slider-description {
    font-size: 4.584vw;
    line-height: 5.596vw; }

  .slider-button {
    margin-top: 8.332vw;
    width: 55vw;
    height: 14.584vw;
    font-size: 4.584vw;
    border-radius: 1.04vw; }

  .slider__item {
    flex: 0 0 100%;
    max-width: 100%; }

  .slider__control {
    top: 50%;
    width: 8.332vw;
    height: 10.416vw;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    opacity: .5; }

  .slider__control_prev {
    left: 0; }

  .slider__control_next {
    right: 0; }

  .slider__control::before {
    width: 4.168vw;
    height: 4.168vw;
    background-size: 100% 100%; }

  .slider__control_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }

  .slider__control_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }

  .slider__indicators {
    left: 0;
    right: 0;
    bottom: 2.084vw;
    padding-left: 0;
    margin: 0 15%; }

  .slider__indicator {
    flex: 0 1 auto;
    width: 6.252vw;
    height: 4.792vw;
    margin-right: 0.624vw;
    margin-left: 0.624vw;
    background-color: rgba(255, 255, 255, 0.5);
    border-top: 2.084vw solid transparent;
    border-bottom: 2.084vw solid transparent; }

  .slider__indicator_active {
    background-color: #fff; } }

/*# sourceMappingURL=simple-adaptive-slider.css.map */
