/* Slider */
@font-face {
  font-family: 'Calibri Regular';
  src: url("fonts/Calibri.eot");
  src: url("fonts/Calibri.eot?#iefix") format("embedded-opentype"), url("fonts/Calibri.woff") format("woff"), url("fonts/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Calibri Regular';
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Calibri Regular";
}

.container {
  width: 71.146vw;
  margin: 0 auto;
  padding: 0 1.042vw;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider {
  width: 50%;
  margin: 5.208vw 1.198vw;
}

.slick-slide {
  margin: 0 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  opacity: 1;
  width: 0;
}

.slick-active {
  opacity: 1 !important;
}

li .slick-active {
  background-color: #414141;
}

.slick-current {
  opacity: 1;
}

.second-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 68.958vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
}

.second-slider .background {
  position: absolute;
  background-color: #FFF2F2;
  left: 18.969vw;
  top: 7.292vw;
  width: 30.156vw;
  height: 28.177vw;
}

.second-regular {
  width: 18.646vw !important;
  position: relative;
  overflow: hidden;
}

.second-regular .slick-active {
  position: absolute;
  top: 50%;
  left: 20.833vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.3s ease-in-out 0s;
  transition: opacity 0.3s ease-in-out 0s;
  opacity: 1;
  z-index: 1;
}

.second-regular .draggable {
  position: relative;
  width: 100%;
  height: 26.6vw;
}

.second-regular .slick-slide {
  position: absolute;
  top: 50%;
  left: 20.833vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 1.3s ease-in-out 0s;
  transition: opacity 1.3s ease-in-out 0s;
  width: 100%;
  height: 26.354vw;
}

.second-slider-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 1.875vw;
  color: #1F316A;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 0.052vw;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 0.052vw solid transparent;
}

.slick-slide:nth-child(2n) .background {
  background-color: #f2f4f3;
}

.first-regular {
  width: 43.021vw !important;
  position: relative;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: -webkit-grab;
  cursor: grab;
}

.reviews ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 5.768vw;
}

.reviews .review-text {
  font-size: 1.719vw;
  color: #1F316A;
  width: 38.333vw;
}

.reviews .reviews-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 3.177vw;
  margin-bottom: 1.198vw;
}

.reviews .reviews-tag .tag-icon {
  width: 3.216vw;
  height: 3.281vw;
  margin-right: 0.431vw;
}

.reviews .reviews-tag .tag-name-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews .reviews-tag .tag-name-city .tag-name {
  font-weight: 400;
  font-size: 1.042vw;
  color: #000000;
}

.reviews .reviews-tag .tag-name-city .tag-city {
  font-weight: 400;
  font-size: 0.938vw;
  color: #504C4C;
}

.reviews .reviews-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12.032vw;
  height: 2.552vw;
  font-size: 0.938vw;
  font-weight: 400;
  background-color: #1F316A;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0.208vw;
}

.reviews-button:hover {
  background: #526699;
}

.second-reviews:hover .reviews-image {
  border-radius: 0.313vw;
}

.second-regular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 23.542vw !important;
  margin-top: 8.854vw !important;
}

.second-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: opacity 0.3s ease-in-out 0s;
  transition: opacity 0.3s ease-in-out 0s;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.second-reviews .reviews-image {
  display: block;
  background: url(images/Rectangle2.jpg) no-repeat;
  width: 18.646vw;
  height: 23.125vw;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.second-reviews .reviews-image-content {
  position: absolute;
  top: 0.833vw;
  left: 0.833vw;
  font-size: 0.625vw;
  letter-spacing: 0.052vw;
  color: white;
  border-radius: 0.625vw;
  background-color: #00706e;
  padding: 0.104vw 0.521vw;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.second-reviews .reviews-decoration-button {
  position: absolute;
  bottom: 0.833vw;
  left: 0.833vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 0.938vw;
  padding: 0.521vw 1.250vw 0.625vw;
  color: white;
  background: #1e306e;
  opacity: 0;
  line-height: 1;
  border-radius: 1.354vw;
  -webkit-transition: opacity 0.3s ease-in-out 0s, bottom 0.3s ease-in-out 0s, background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
  transition: opacity 0.3s ease-in-out 0s, bottom 0.3s ease-in-out 0s, background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
}

.second-reviews .mobile-decoration-button {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.417vw 0.833vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffebeb;
  display: none;
}

.second-reviews .mobile-decoration-button .second-reviews-name-mobile {
  font-size: 0.938vw;
  color: #1e306e;
  margin-top: 0;
}

.second-reviews .mobile-decoration-button .purchase-mobile {
  color: #000000;
  font-size: 0.885vw;
}

.second-reviews .mobile-decoration-button .purchase-mobile .discount-price-mobile {
  color: #27706D;
  font-size: 0.885vw;
  line-height: 1.081vw;
}

.second-reviews .mobile-decoration-button .purchase-mobile .price-mobile {
  color: #414141;
  font-size: 0.885vw;
  line-height: 1.081vw;
  text-decoration: line-through;
}

.reviews-decoration-button:hover {
  background: #526699;
}

.reviews-image:hover .reviews-image-content {
  top: 1.042vw;
}

.reviews-image:hover .reviews-decoration-button {
  opacity: 1;
  bottom: 1.250vw;
}

.second-reviews-name {
  font-weight: 700;
  font-size: 0.885vw;
  color: #1F316A;
  margin-top: 0.729vw;
  margin-bottom: 0.521vw;
}

.purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  width: 10.833vw;
}

.purchase .discount-price {
  font-weight: 700;
  font-size: 0.885vw;
  color: #27706D;
}

.purchase .price {
  font-weight: 700;
  font-size: 0.885vw;
  color: #414141;
  text-decoration: line-through;
}

.fa {
  font-size: 0.938vw;
  margin-left: 0.521vw;
}

.second-slider:hover .slick-arrow {
  opacity: 1;
}

.slick-arrow {
  font-size: 2.083vw !important;
  margin: 0;
  padding: 0.443vw 1.1124vw;
  color: black;
  background-color: white;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: background-color 0.15s ease-out 0s;
  transition: background-color 0.15s ease-out 0s;
  -webkit-transition: opacity 0.15s ease-out 0s;
  transition: opacity 0.15s ease-out 0s;
  border-radius: 50%;
}

.slick-arrow:hover {
  color: #526699;
}

.slick-arrow.slick-hidden {
  display: none;
}

@media all and (max-width: 1366px) {
  .slider {
    width: 50%;
    margin: 6.7704vw 1.5574vw;
  }
  .slick-slide {
    margin: 0 20px;
  }
  .slick-slide img {
    width: 100%;
  }
  .second-slider {
    min-width: 89.6454vw;
  }
  .second-slider .background {
    left: 24.6597vw;
    top: 9.4796vw;
    width: 39.2028vw;
    height: 36.6301vw;
  }
  .second-regular {
    width: 24.2398vw !important;
  }
  .second-regular .slick-active {
    top: 50%;
    left: 27.0829vw;
  }
  .second-regular .draggable {
    width: 100%;
    height: 34.58vw;
  }
  .second-regular .slick-slide {
    top: 50%;
    left: 27.0829vw;
    -webkit-transition: opacity 0.3s ease-in-out 0s;
    transition: opacity 0.3s ease-in-out 0s;
    width: 100%;
    height: 34.2602vw;
  }
  .second-slider-name {
    font-size: 2.4375vw;
  }
  .slick-list {
    margin: 0;
    padding: 0;
  }
  .slick-list:focus {
    outline: none;
  }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .slick-track {
    left: 0;
    top: 0;
  }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table;
  }
  .slick-track:after {
    clear: both;
  }
  .slick-loading .slick-track {
    visibility: hidden;
  }
  .slick-slide {
    float: left;
    height: 100%;
    min-height: 0.0676vw;
    display: none;
  }
  [dir="rtl"] .slick-slide {
    float: right;
  }
  .slick-slide img {
    display: block;
  }
  .slick-slide.slick-loading img {
    display: none;
  }
  .slick-slide.dragging img {
    pointer-events: none;
  }
  .slick-initialized .slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slick-loading .slick-slide {
    visibility: hidden;
  }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 0.0676vw solid transparent;
  }
  .first-regular {
    width: 55.9273vw !important;
  }
  .reviews ul {
    width: 7.4984vw;
  }
  .reviews .review-text {
    font-size: 2.2347vw;
    width: 49.8329vw;
  }
  .reviews .reviews-tag {
    margin-top: 4.1301vw;
    margin-bottom: 1.5574vw;
  }
  .reviews .reviews-tag .tag-icon {
    width: 4.1808vw;
    height: 4.2653vw;
    margin-right: 0.5603vw;
  }
  .reviews .reviews-tag .tag-name-city .tag-name {
    font-size: 1.3546vw;
  }
  .reviews .reviews-tag .tag-name-city .tag-city {
    font-size: 1.2194vw;
  }
  .reviews .reviews-button {
    width: 15.6416vw;
    height: 3.3176vw;
    font-size: 1.2194vw;
    border-radius: 0.2704vw;
  }
  .second-reviews:hover .reviews-image {
    border-radius: 0.4069vw;
  }
  .second-regular {
    width: 30.6046vw !important;
    margin-top: 11.5102vw !important;
  }
  .second-reviews {
    width: 100%;
    height: 100%;
  }
  .second-reviews .reviews-image {
    width: 24.2398vw;
    height: 30.0625vw;
  }
  .second-reviews .reviews-image-content {
    top: 1.0829vw;
    left: 1.0829vw;
    font-size: 0.8125vw;
    letter-spacing: 0.0676vw;
    border-radius: 0.8125vw;
    padding: 0.1352vw 0.6773vw;
  }
  .second-reviews .reviews-decoration-button {
    bottom: 1.0829vw;
    left: 1.0829vw;
    font-size: 1.2194vw;
    padding: 0.6773vw 1.625vw 0.8125vw;
    border-radius: 1.7602vw;
  }
  .second-reviews .mobile-decoration-button {
    bottom: 0;
    left: 0;
    padding: 0.5421vw 1.0829vw;
  }
  .second-reviews .mobile-decoration-button .second-reviews-name {
    margin-top: 0;
  }
  .reviews-image:hover .reviews-image-content {
    top: 1.3546vw;
  }
  .reviews-image:hover .reviews-decoration-button {
    bottom: 1.625vw;
  }
  .second-reviews-name {
    font-size: 1.1505vw;
    margin-top: 0.9477vw;
    margin-bottom: 0.6773vw;
  }
  .purchase {
    width: 14.0829vw;
  }
  .purchase .discount-price {
    font-size: 1.1505vw;
  }
  .purchase .price {
    font-size: 1.1505vw;
  }
  .fa {
    font-size: 1.2194vw;
    margin-left: 0.6773vw;
  }
  .slick-arrow {
    font-size: 2.7079vw !important;
    padding: 0.5759vw 1.44612vw;
    border-radius: 50%;
  }
  .slick-arrow.slick-hidden {
    display: none;
  }
}

@media all and (max-width: 415px) {
  .slider {
    width: 50%;
    margin: 0;
  }
  .slick-slide {
    margin: 0 1px;
  }
  .slick-slide img {
    width: 100%;
  }
  .second-slider {
    min-width: 275.832vw;
    padding: 0vw 3vw;
    background-color: #FFF2F2;
    height: 216.864vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .second-slider .background {
    left: 0;
    top: 155vw;
    width: 120.624vw;
    height: 112.708vw;
    display: none;
  }
  .second-regular {
    width: 74.584vw !important;
  }
  .second-regular .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .second-regular .slick-active {
    position: static;
    left: 83.332vw;
  }
  .second-regular .draggable {
    width: 100%;
    height: auto;
  }
  .second-regular .slick-slide {
    position: static;
    left: 83.332vw;
    -webkit-transition: opacity 0.3s ease-in-out 0s;
    transition: opacity 0.3s ease-in-out 0s;
    width: 100%;
    height: auto;
  }
  .second-slider-name {
    font-size: 7.5vw;
    width: 124vw;
    padding: 0vw 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .slick-list {
    margin: 0;
    padding: 0;
  }
  .slick-list:focus {
    outline: none;
  }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .slick-track {
    width: 6426px !important;
    left: 0;
    top: 0;
  }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table;
  }
  .slick-track:after {
    clear: both;
  }
  .slick-loading .slick-track {
    visibility: hidden;
  }
  .slick-slide {
    float: left;
    height: 100%;
    min-height: 0.208vw;
    display: none;
  }
  [dir="rtl"] .slick-slide {
    float: right;
  }
  .slick-slide img {
    display: block;
  }
  .slick-slide.slick-loading img {
    display: none;
  }
  .slick-slide.dragging img {
    pointer-events: none;
  }
  .slick-initialized .slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slick-loading .slick-slide {
    visibility: hidden;
  }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 0.208vw solid transparent;
  }
  .first-regular {
    width: 172.084vw !important;
  }
  .reviews ul {
    width: 23.072vw;
  }
  .reviews .review-text {
    font-size: 6.876vw;
    width: 100vw;
  }
  .reviews .reviews-tag {
    margin-top: 3.708vw;
    margin-bottom: 4.792vw;
  }
  .reviews .reviews-tag .tag-icon {
    width: 18.64vw;
    height: 18.64vw;
    margin-right: 1.724vw;
  }
  .reviews .reviews-tag .tag-name-city .tag-name {
    font-size: 4.336vw;
  }
  .reviews .reviews-tag .tag-name-city .tag-city {
    font-size: 3.852vw;
  }
  .reviews .reviews-button {
    width: 93.584vw;
    height: 10.208vw;
    font-size: 4.336vw;
    border-radius: 0.832vw;
  }
  .second-reviews:hover .reviews-image {
    border-radius: 1.252vw;
  }
  .second-regular {
    width: 94.168vw !important;
    margin-top: 11.416vw !important;
  }
  .second-reviews {
    width: 100%;
    height: 100%;
  }
  .second-reviews .reviews-image {
    width: 93.584vw;
    height: 85.5vw;
    background-size: 100%;
  }
  .second-reviews .reviews-image-content {
    top: 3.332vw;
    left: 3.332vw;
    font-size: 2.5vw;
    letter-spacing: 0.208vw;
    border-radius: 2.5vw;
    padding: 0.416vw 2.084vw;
  }
  .second-reviews .reviews-decoration-button {
    bottom: 3.332vw;
    left: 3.332vw;
    font-size: 3.752vw;
    padding: 2.084vw 5vw 2.5vw;
    border-radius: 5.416vw;
    display: none;
  }
  .second-reviews .mobile-decoration-button {
    padding: 1.668vw 3.332vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .second-reviews .mobile-decoration-button .second-reviews-name-mobile {
    font-size: 3.752vw;
  }
  .second-reviews .mobile-decoration-button .purchase-mobile {
    font-size: 3.54vw;
  }
  .second-reviews .mobile-decoration-button .purchase-mobile .discount-price-mobile {
    font-size: 3.54vw;
    line-height: 4.324vw;
  }
  .second-reviews .mobile-decoration-button .purchase-mobile .price-mobile {
    font-size: 3.54vw;
    line-height: 4.324vw;
  }
  .reviews-image:hover .reviews-image-content {
    top: 4.168vw;
  }
  .reviews-image:hover .reviews-decoration-button {
    bottom: 5vw;
  }
  .second-reviews-name {
    font-size: 3.54vw;
    margin-top: 2.916vw;
    margin-bottom: 2.084vw;
    display: none;
  }
  .purchase {
    width: 43.332vw;
    display: none;
  }
  .purchase .discount-price {
    font-size: 3.54vw;
  }
  .purchase .price {
    font-size: 3.54vw;
  }
  .fa {
    font-size: 3.752vw;
    margin-left: 2.084vw;
  }
  .slick-arrow {
    font-size: 8.332vw !important;
    padding: 1.772vw 4.4496vw;
    border-radius: 50%;
    display: none !important;
  }
  .slick-arrow.slick-hidden {
    display: none;
  }
  .slick-dots {
    left: 0.723vw !important;
  }
}
/*# sourceMappingURL=slick.css.map */