@charset "UTF-8";
/* Slider */
@font-face {
  font-family: 'Calibri Regular';
  src: url("fonts/Calibri.eot");
  src: url("fonts/Calibri.eot?#iefix") format("embedded-opentype"), url("fonts/Calibri.woff") format("woff"), url("fonts/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Calibri Regular';
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Calibri Regular";
}

.container {
  width: 71.146vw;
  margin: 0 auto;
  padding: 0 1.042vw;
}

.slider-сarousel {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  width: 170.250vw !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slider-сarousel {
  cursor: -webkit-grab;
  cursor: grab;
}

.slider-сarousel_name {
  font-weight: 700;
  font-size: 1.875vw;
  line-height: 2.289vw;
  color: #1F316A;
  margin-bottom: 4.629vw;
  text-align: center;
}

.slider-carousel_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-carousel_items .image {
  background: url(images/Rectangle3.jpg) no-repeat;
  display: block;
  position: relative;
  background-size: 100%;
  width: 24.167vw;
  height: 15.917vw;
  cursor: pointer;
}

.slider-carousel_items .name {
  font-weight: 700;
  font-size: 0.885vw;
  line-height: 1.081vw;
  color: #1F316A;
}

.slider-carousel_items .price {
  font-weight: 700;
  font-size: 0.885vw;
  line-height: 1.081vw;
  color: #000000;
}

.slider-carousel_items .price span {
  color: #504C4C;
}

.slider-carousel_items .select {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  padding-left: 0.260vw;
}

.slider-carousel_items .image .decoration-button {
  position: absolute;
  bottom: 0.833vw;
  left: 0.833vw;
  opacity: 0;
  z-index: 1;
  background-color: white;
  color: #1e306e;
  font-size: 0.833vw;
  line-height: 1;
  letter-spacing: 0.031vw;
  padding: 0.417vw 0.833vw;
  border-radius: 1.667vw;
  -webkit-box-shadow: #1e306e 0px 0px 0px 0.078vw inset;
          box-shadow: #1e306e 0px 0px 0px 0.078vw inset;
  -webkit-transition: background-color 0.15s ease-out 0s, color 0.15s ease-out 0s, -webkit-box-shadow 270ms ease-in-out 0s;
  transition: background-color 0.15s ease-out 0s, color 0.15s ease-out 0s, -webkit-box-shadow 270ms ease-in-out 0s;
  transition: box-shadow 270ms ease-in-out 0s, background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
  transition: box-shadow 270ms ease-in-out 0s, background-color 0.15s ease-out 0s, color 0.15s ease-out 0s, -webkit-box-shadow 270ms ease-in-out 0s;
  -webkit-transition: opacity 0.15s ease-out 0s;
  transition: opacity 0.15s ease-out 0s;
}

.image:hover .decoration-button {
  opacity: 1 !important;
}

.decoration-button:hover {
  background-color: #1e306e !important;
  color: white !important;
}

.item-2 .image {
  background: url(images/Rectangle4.jpg) no-repeat;
  background-size: 100%;
  width: 24.167vw;
  height: 15.917vw;
}

.item-3 .image {
  background: url(images/Rectangle5.jpg) no-repeat;
  background-size: 100%;
  width: 24.167vw;
  height: 15.917vw;
}

.item-4 .image {
  background: url(images/Rectangle6.jpg) no-repeat;
  background-size: 100%;
  width: 24.167vw;
  height: 15.917vw;
}

.color-1:not(:last-child) {
  margin-right: 0.938vw;
}

.select button {
  margin-top: 0.442vw;
  margin-bottom: 0px;
}

.color-1 {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 1.042vw;
  height: 1.042vw;
  margin-bottom: 0.938vw;
  border-radius: 50%;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  background: #1F316A;
}

.color-1::after {
  content: "";
  position: absolute;
  inset: 0px;
  border: 1px solid #1F316A;
  border-radius: 50%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: border-color 270ms linear 0ms, -webkit-transform 270ms cubic-bezier(0.79, 0.14, 0.15, 0.86) 0ms;
  transition: border-color 270ms linear 0ms, -webkit-transform 270ms cubic-bezier(0.79, 0.14, 0.15, 0.86) 0ms;
  transition: transform 270ms cubic-bezier(0.79, 0.14, 0.15, 0.86) 0ms, border-color 270ms linear 0ms;
  transition: transform 270ms cubic-bezier(0.79, 0.14, 0.15, 0.86) 0ms, border-color 270ms linear 0ms, -webkit-transform 270ms cubic-bezier(0.79, 0.14, 0.15, 0.86) 0ms;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.slick-slide:first-child {
  padding-left: 5.33vw;
}

.slick-slide {
  margin-right: 1.833vw;
}

.slick-arrow.slick-hidden {
  display: none;
}
/*# sourceMappingURL=slick3.css.map */