/* Slider */
@import "base-scss.scss";


html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.slider {
  width: 50%;
  margin: 5.208vw 1.198vw;
}

.slick-slide {
  margin: 0 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 0;
}

.slick-active {
  opacity: 1 !important;
}

li .slick-active {
  background-color: #414141;
}

.second-regular .slick-active {
  transform: translateY(+50%);
}

.slick-current {
  opacity: 1;
}

.second-slider {
    display: flex;
    min-width: 68.958vw;
    justify-content: center;
    margin: 0 auto;
}

.second-regular {
    width: 18.646vw !important;
}

.second-slider-name {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 1.875vw;
    color: #1F316A;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 0.052vw;

    [dir="rtl"] & {
        float: right;
    }

    img {
        display: block;
    }

    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: flex;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 0.052vw solid transparent;
    }
}


.first-regular {
    width: 43.021vw !important;
}

.reviews {
    display: flex;
    flex-direction: column;


    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 5.768vw;
    }

    .review-text {
        font-size: 1.719vw;
        color: #1F316A;
        width: 38.333vw;
    }

    .reviews-tag {
        display: flex;
        flex-direction: row;
        margin-top: 3.177vw;
        margin-bottom: 1.198vw;

        .tag-icon {
            width: 3.216vw;
            height: 3.281vw;
            margin-right: 0.431vw;
        }

        .tag-name-city {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .tag-name {
                font-weight: 400;
                font-size: 1.042vw;
                color: #000000;
            }

            .tag-city {
                font-weight: 400;
                font-size: 0.938vw;
                color: #504C4C;
            }
        }
    }

    .reviews-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12.032vw;
        height: 2.552vw;
        font-size: 0.938vw;
        font-weight: 400;
        background-color: #1F316A;
        color: #FFFFFF;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 0.208vw;
    }
}

.second-reviews:hover .reviews-image {
    border-radius: 0.313vw;
}

.second-regular {
    display: flex;
    justify-content: center;
    width: 23.542vw !important;
    margin-top: 8.854vw !important;
}

.second-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out 0s;
    opacity: 1;


    .reviews-image {
        display: block;
        background: url(images/Rectangle2.jpg) no-repeat;
        width: 18.646vw;
        height: 23.125vw;
        position: relative;
        overflow: hidden;
        transition: all 0.3s ease-in-out 0s;


    }

    .reviews-image-content {
        position: absolute;
        top: 0.833vw;
        left: 0.833vw;
        font-size: 0.625vw;
        letter-spacing: 0.052vw;
        color: rgb(255, 255, 255);
        border-radius: 0.625vw;
        background-color: rgb(0, 112, 110);
        padding: 0.104vw 0.521vw;
        transition: all 0.3s ease-in-out 0s;
    }

    .reviews-decoration-button {
        position: absolute;
        bottom: 0.833vw;
        left: 0.833vw;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 0.938vw;
        padding: 0.521vw 1.250vw 0.625vw;
        color: rgb(255, 255, 255);
        background: rgb(30, 48, 110);
        opacity: 0;
        line-height: 1;
        border-radius: 1.354vw;
        transition: opacity 0.3s ease-in-out 0s, bottom 0.3s ease-in-out 0s, background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
    }

    .mobile-decoration-button {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0.417vw 0.833vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(255, 235, 235);
        display: none;

        .second-reviews-name {
            margin-top: 0;
        }
    }
}

.reviews-decoration-button:hover {
    background: rgb(82, 102, 153);
}


.reviews-image:hover .reviews-image-content {
    top: 1.042vw;
}

.reviews-image:hover .reviews-decoration-button {
    opacity: 1;
    bottom: 1.250vw;
}

.second-reviews-name {
    font-weight: 700;
    font-size: 0.885vw;
    color: #1F316A;
    margin-top: 0.729vw;
    margin-bottom: 0.521vw;
}

.purchase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    width: 10.833vw;

    .discount-price {
        font-weight: 700;
        font-size: 0.885vw;
        color: #27706D;
    }

    .price {
        font-weight: 700;
        font-size: 0.885vw;
        color: #414141;
        text-decoration: line-through;
    }
}

.fa {
    font-size: 0.938vw;
    margin-left: 0.521vw;

}

.second-slider:hover .slick-arrow {
    opacity: 1;
}

.slick-arrow {
    font-size: 2.083vw !important;
    margin: 0;
    padding: 0.443vw 1.1124vw;
    color: black;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    opacity: 0;
    transition: background-color 0.15s ease-out 0s;
    transition: opacity 0.15s ease-out 0s;
    border-radius: 50%;
    box-shadow: black;
}

.slick-arrow:hover {


    color: rgb(82, 102, 153);
}

.slick-arrow.slick-hidden {
    display: none;
}

@media all and (max-width: 1366px) {
    $coefficient: 1.3;

    .second-slider {
        width: 68.958vw * $coefficient;
        margin: 0 auto;
    }

    .second-regular {
        width: 18.646vw * $coefficient !important;
    }

    .second-slider-name {
        font-size: 1.875vw * $coefficient;
    }

    .slick-slider {}

    .slick-list {
        margin: 0;
        padding: 0;

        &:focus {}

        &.dragging {}
    }

    .slick-slider .slick-track,
    .slick-slider .slick-list {}

    .slick-track {
        left: 0;
        top: 0;


        &:before,
        &:after {}

        &:after {}

        .slick-loading & {}
    }

    .slick-slide {

        height: 100%;
        min-height: 0.052vw * $coefficient;

        [dir="rtl"] & {}

        img {}

        &.slick-loading img {}



        &.dragging img {}

        .slick-initialized & {}

        .slick-loading & {}

        .slick-vertical & {
            border: 0.052vw * $coefficient solid transparent;
        }
    }


    .first-regular {
        width: 43.021vw * $coefficient !important;
    }

    .reviews {

        ul {
            width: 5.768vw * $coefficient;
        }

        .review-text {
            font-size: 1.719vw * $coefficient;
            width: 38.333vw * $coefficient;
        }

        .reviews-tag {
            margin-top: 3.177vw * $coefficient;
            margin-bottom: 1.198vw * $coefficient;

            .tag-icon {
                width: 3.216vw * $coefficient;
                height: 3.281vw * $coefficient;
                margin-right: 0.431vw * $coefficient;
            }

            .tag-name-city {

                .tag-name {
                    font-size: 1.042vw * $coefficient;
                }

                .tag-city {
                    font-size: 0.938vw * $coefficient;
                }
            }
        }

        .reviews-button {
            width: 12.032vw * $coefficient;
            height: 2.552vw * $coefficient;
            font-size: 0.938vw * $coefficient;
            border-radius: 0.208vw * $coefficient;
        }
    }

    .second-reviews:hover .reviews-image {
        border-radius: 0.313vw * $coefficient;
    }

    .second-regular {
        width: 23.542vw * $coefficient !important;

    }

    .second-reviews {

        .reviews-image {
            width: 18.646vw * $coefficient;
            height: 23.125vw * $coefficient;
        }

        .reviews-image-content {
            top: 0.833vw * $coefficient;
            left: 0.833vw * $coefficient;
            font-size: 0.625vw * $coefficient;
            letter-spacing: 0.052vw * $coefficient;
            border-radius: 0.625vw * $coefficient;
            padding: 0.104vw * $coefficient 0.521vw * $coefficient;
        }

        .reviews-decoration-button {
            bottom: 0.833vw * $coefficient;
            left: 0.833vw * $coefficient;
            font-size: 0.938vw * $coefficient;
            padding: 0.521vw * $coefficient 1.250vw * $coefficient 0.625vw * $coefficient;
            border-radius: 1.354vw * $coefficient;
        }
    }

    .reviews-decoration-button:hover {}

    .reviews-image:hover .reviews-image-content {}

    .reviews-image:hover .reviews-decoration-button {
        bottom: 1.250vw * $coefficient;
    }

    .second-reviews-name {
        font-size: 0.885vw * $coefficient;
        margin-top: 0.729vw * $coefficient;
        margin-bottom: 0.521vw * $coefficient;
    }

    .purchase {
        font-weight: 700;
        width: 10.833vw * $coefficient;

        .discount-price {
            font-size: 0.885vw * $coefficient;
        }

        .price {
            font-size: 0.885vw * $coefficient;
        }
    }

    .fa {
        font-size: 0.938vw * $coefficient;
        margin-left: 0.521vw * $coefficient;

    }

    .second-slider:hover .slick-arrow {}

    .slick-arrow {
        font-size: 2.083vw * $coefficient !important;
        padding: 0.443vw * $coefficient 1.1124vw * $coefficient;
    }

    .slick-arrow:hover {}

    .slick-arrow.slick-hidden {}
}

@media all and (max-width: 415px) {
    $coefficient: 4;

    .second-slider {
        min-width: 68.958vw * $coefficient;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .slick-slide {
        margin: 0 0;
    }

    .second-regular .slick-active {
        transform: none;
      }

    .second-regular {
        width: 18.646vw * $coefficient !important;
    }

    .second-slider-name {
        font-size: 1.875vw * $coefficient;
        display: block;
    }

    .slick-slider {}

    .slick-list {
        margin: 0;
        padding: 0;

        &:focus {}

        &.dragging {}
    }

    .slick-slider .slick-track,
    .slick-slider .slick-list {}

    .slick-track {
        left: 0;
        top: 0;


        &:before,
        &:after {}

        &:after {}

        .slick-loading & {}
    }

    .slick-slide {

        height: 100%;
        min-height: 0.052vw * $coefficient;

        [dir="rtl"] & {}

        img {}

        &.slick-loading img {}



        &.dragging img {}

        .slick-initialized & {}

        .slick-loading & {}

        .slick-vertical & {
            border: 0.052vw * $coefficient solid transparent;
        }
    }


    .first-regular {
        width: 43.021vw * $coefficient !important;
    }

    .reviews {

        ul {
            width: 5.768vw * $coefficient;
        }

        .review-text {
            font-size: 1.719vw * $coefficient;
            width: 22.5vw * $coefficient;
        }

        .reviews-tag {
            margin-top: 1.177vw * $coefficient;
            margin-bottom: 1.198vw * $coefficient;

            .tag-icon {
                width: 5.216vw * $coefficient;
                height: 5.281vw * $coefficient;
                margin-right: 0.431vw * $coefficient;
            }

            .tag-name-city {

                .tag-name {
                    font-size: 1.5vw * $coefficient;
                }

                .tag-city {
                    font-size: 0.938vw * $coefficient;
                }
            }
        }

        .reviews-button {
            width: 22.632vw * $coefficient;
            height: 2.552vw * $coefficient;
            font-size: 0.938vw * $coefficient;
            border-radius: 0.208vw * $coefficient;
        }
    }

    .second-reviews:hover .reviews-image {
        border-radius: 0.313vw * $coefficient;
    }

    .second-regular {
        width: 23.542vw * $coefficient !important;

    }

    .second-reviews {

        transform: none;

        .reviews-image {
            width: 18.646vw * $coefficient;
            height: 17.83vw * $coefficient;
        }

        .reviews-image-content {
            top: 0.833vw * $coefficient;
            left: 0.833vw * $coefficient;
            font-size: 0.625vw * $coefficient;
            letter-spacing: 0.052vw * $coefficient;
            border-radius: 0.625vw * $coefficient;
            padding: 0.104vw * $coefficient 0.521vw * $coefficient;
        }

        .reviews-decoration-button {
            bottom: 0.833vw * $coefficient;
            left: 0.833vw * $coefficient;
            font-size: 0.938vw * $coefficient;
            padding: 0.521vw * $coefficient 1.250vw * $coefficient 0.625vw * $coefficient;
            border-radius: 1.354vw * $coefficient;
            display: none;
        }

        .mobile-decoration-button {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0.417vw 0.833vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: rgb(255, 235, 235);
            display: block;

            .second-reviews-name-mobile {
                margin-top: 0;
                font-size: 0.885vw * $coefficient;
                margin-bottom: 0.521vw * $coefficient;
                font-weight: 700;
                color: #1F316A;
            }

            .purchase-mobile {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-weight: 700;
                color: black;
                width: 10.833vw * $coefficient;

                .discount-price-mobile {
                    font-weight: 700;
                    color: #27706D;
                    font-size: 0.885vw * $coefficient;
                }

                .price-mobile {
                    font-weight: 700;
                    color: #414141;
                    text-decoration: line-through;
                    font-size: 0.885vw * $coefficient;
                }
            }
        }

        .reviews-decoration-button:hover {}

        .reviews-image:hover .reviews-image-content {}

        .reviews-image:hover .reviews-decoration-button {
            bottom: 1.250vw * $coefficient;
        }

        .second-reviews-name {
            font-size: 0.885vw * $coefficient;
            margin-top: 0.729vw * $coefficient;
            margin-bottom: 0.521vw * $coefficient;
            display: none;
        }

        .purchase {
            font-weight: 700;
            width: 10.833vw * $coefficient;
            display: none;


            .discount-price {
                font-size: 0.885vw * $coefficient;
                display: none;
            }

            .price {
                font-size: 0.885vw * $coefficient;
                display: none;
            }
        }

        .fa {
            font-size: 0.938vw * $coefficient;
            margin-left: 0.521vw * $coefficient;

        }

        .second-slider:hover .slick-arrow {}


    }

    .slick-arrow {
        font-size: 2.083vw * $coefficient !important;
        padding: 0.443vw * $coefficient 1.1124vw * $coefficient;
        display: none !important;
    }

    .slick-arrow:hover {}

    .slick-arrow.slick-hidden {}
}