/* Slider */
@import "base-scss.scss";

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    z-index: 0;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}


.slick-slide {
    float: left;
    height: 100%;
    width: 1920px;
    min-height: 1px;

    [dir="rtl"] & {
        float: right;
    }

    img {
        display: block;
    }

    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-slide:focus {
    outline: none !important;
}

.main-slider {
    position: relative;
    display: flex;
    justify-content: center;
}

.slider-item {
    background: url(images/slid1-bg.svg);
    width: 100vw;
    height: 40.104vw;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slider-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-title {
    font-weight: 700;
    font-size: 3.385vw;
    color: #17215B;
}

.slider-description {
    font-weight: 700;
    font-size: 1.146vw;
    line-height: 1.399vw;
    color: #17215B;
    margin-top: 0.521vw;
    margin-bottom: 2.083vw;
}

.slider-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.750vw;
    height: 3.646vw;
    background-color: #CB372A;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.146vw;
    line-height: 1.399vw;
    border: none;
    outline: none;
    cursor: pointer;
}

.slider-button:hover {
    border-radius: 0.260vw;
    transition: border-radius 200ms;
    background-color: #ffffff;
    color: #CB372A;
    transition: background-color 500ms, color 500ms;
}

.slick-arrow {
    margin: 0;
    padding: 0.443vw 1.1124vw;
    color: black;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    opacity: 0;
    transition: background-color 0.15s ease-out 0s;
    transition: opacity 0.15s ease-out 0s;
    border-radius: 50%;
}

.main-slider:hover .slick-arrow {
    opacity: 1;
    box-shadow: rgb(242, 242, 242) 0 0.260vw 0.781vw 0,
     rgb(247, 247, 247) 0 0 0 0.052vw,
     rgb(242, 242, 242) 0 0.052vw 0 0,
     rgb(252, 252, 252) 0 0.052vw 0.156vw 0;
}


.slick-arrow:hover {
    color: rgb(82, 102, 153);
}


.fa {
    font-size: 2.083vw !important;
}

.fa.fa-angle-left {
    position: absolute;
    top: 44%;
    left: 0.521vw;
    z-index: 1;
}


.fa.fa-angle-right {
    position: absolute;
    top: 44%;
    right: 0.521vw;
}


.slick-arrow.slick-hidden {
    display: none;
}

@media  all and (max-width: 1366px) {
    $coefficient: 1.3;

.slick-slider {
}

.slick-list {


    &:focus {
    }

    &.dragging {
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    z-index: 0;
    left: 0;
    top: 0;

    &:before,
    &:after {
    }

    &:after {
    }

    .slick-loading & {
    }
}


.slick-slide {
    height: 100%;
    min-height: 1px;

    [dir="rtl"] & {
        float: right;
    }

    img {
    }

    &.slick-loading img {
    }


    &.dragging img {
    }

    .slick-initialized & {
    }

    .slick-loading & {
    }

    .slick-vertical & {
        border: 1px solid transparent;
    }
}

.main-slider {
}

.slider-item {
    background: url(images/slid1-bg.svg);
    width: 100vw;
    height: 40.104vw * $coefficient;
}

.slider-content {

}

.slider-title {
    font-size: 3.385vw * $coefficient;
}

.slider-description {
    font-size: 1.146vw * $coefficient;
    line-height: 1.399vw * $coefficient;
    margin-top: 0.521vw * $coefficient;
    margin-bottom: 2.083vw * $coefficient;
}

.slider-button {
    width: 13.750vw * $coefficient;
    height: 3.646vw * $coefficient;
    font-size: 1.146vw * $coefficient;
    line-height: 1.399vw * $coefficient;
}

.slider-button:hover {
    border-radius: 0.260vw * $coefficient;
    transition: border-radius 200ms;
    transition: background-color 500ms, color 500ms;
}

.slick-arrow {
    padding: 0.443vw * $coefficient 1.1124vw * $coefficient;
    transition: background-color 0.15s ease-out 0s;
    transition: opacity 0.15s ease-out 0s;
    border-radius: 50%;
}

.main-slider:hover .slick-arrow {

}


.slick-arrow:hover {
    
}


.fa {
    font-size: 2.083vw * $coefficient !important;
}

.fa.fa-angle-left {
    top: 44%;
    left: 0.521vw * $coefficient;
}


.fa.fa-angle-right {
    top: 44%;
    right: 0.521vw * $coefficient;
}


.slick-arrow.slick-hidden {
}

}

@media  all and (max-width: 415px) {
    $coefficient: 4;
    
    .slick-slider {
    }
    
    .slick-list {
    
    
        &:focus {
        }
    
        &.dragging {
        }
    }
    
    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    
    .slick-track {
        z-index: 0;
        left: 0;
        top: 0;
    
        &:before,
        &:after {
        }
    
        &:after {
        }
    
        .slick-loading & {
        }
    }
    
    
    .slick-slide {
        height: 100%;
        min-height: 1px;
    
        [dir="rtl"] & {
            float: right;
        }
    
        img {
        }
    
        &.slick-loading img {
        }
    
    
        &.dragging img {
        }
    
        .slick-initialized & {
        }
    
        .slick-loading & {
        }
    
        .slick-vertical & {
            border: 1px solid transparent;
        }
    }
    
    .main-slider {
    }
    
    .slider-item {
        background: url(images/slid1-bg.svg);
        width: 100vw;
        height: 40.104vw * $coefficient;
    }
    
    .slider-content {
    
    }
    
    .slider-title {
        font-size: 3.385vw * $coefficient;
        text-align: center;
    }
    
    .slider-description {
        font-size: 1.146vw * $coefficient;
        line-height: 1.399vw * $coefficient;
        margin-top: 0.521vw * $coefficient;
        margin-bottom: 2.083vw * $coefficient;
        text-align: center;
    }
    
    .slider-button {
        width: 13.750vw * $coefficient;
        height: 3.646vw * $coefficient;
        font-size: 1.146vw * $coefficient;
        line-height: 1.399vw * $coefficient;
    }
    
    .slider-button:hover {
        border-radius: 0.260vw * $coefficient;
        transition: border-radius 200ms;
        transition: background-color 500ms, color 500ms;
    }
    
    .slick-arrow {
        padding: 0.443vw * $coefficient 1.1124vw * $coefficient;
        transition: background-color 0.15s ease-out 0s;
        transition: opacity 0.15s ease-out 0s;
        border-radius: 50%;
    }
    
    .main-slider:hover .slick-arrow {
    
    }
    
    
    .slick-arrow:hover {
        
    }
    
    
    .fa {
        font-size: 2.083vw * $coefficient !important;
    }
    
    .fa.fa-angle-left {
        top: 44%;
        left: 0.521vw * $coefficient;
    }
    
    
    .fa.fa-angle-right {
        top: 44%;
        right: 0.521vw * $coefficient;
    }
    
    
    .slick-arrow.slick-hidden {
    }
    
    
}