/* Slider */

@import "base-scss.scss";

.slider-сarousel {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    width: 170.250vw !important;

    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;

    [dir="rtl"] & {
        float: right;
    }

    img {
        display: block;
    }

    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slider-сarousel {
    cursor: grab;
}

.slider-сarousel_name {
    font-weight: 700;
    font-size: 1.875vw;
    line-height: 2.289vw;
    color: #1F316A;
    margin-bottom: 4.629vw;
    text-align: center;
}

.slider-carousel_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .image {
        background: url(images/Rectangle3.jpg) no-repeat;
        display: block;
        position: relative;
        background-size: 100%;
        width: 24.167vw;
        height: 15.917vw;
        cursor: pointer;
    }

    .name {
        font-weight: 700;
        font-size: 0.885vw;
        line-height: 1.081vw;
        color: #1F316A;
    }

    .price {
        font-weight: 700;
        font-size: 0.885vw;
        line-height: 1.081vw;
        color: #000000;

        span {
            color: #504C4C;
        }
    }

    .select {
        display: inline-flex;
        flex-wrap: wrap;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        padding-left: 0.260vw;
        padding-bottom: 0.260vw;
    }
}

.slider-carousel_items .image {
    .decoration-button {
        position: absolute;
        bottom: 0.833vw;
        left: 0.833vw;
        opacity: 0;
        z-index: 1;
        background-color: rgb(255, 255, 255);
        color: rgb(30, 48, 110);
        font-size: 0.833vw;
        line-height: 1;
        letter-spacing: 0.031vw;
        padding: 0.417vw 0.833vw;
        border-radius: 1.667vw;
        box-shadow: rgb(30, 48, 110) 0px 0px 0px 0.078vw inset;
        transition: box-shadow 270ms ease-in-out 0s, background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
        transition: opacity 0.15s ease-out 0s;
    }
}

.image:hover .decoration-button {
    opacity: 1 !important;
}

.decoration-button:hover {
    background-color: rgb(30, 48, 110) !important;
    color: rgb(255, 255, 255) !important;
}

.item-2 {
    .image {
        background: url(images/Rectangle4.jpg) no-repeat;
        background-size: 100%;
        width: 24.167vw;
        height: 15.917vw;
    }
}

.item-3 {
    .image {
        background: url(images/Rectangle5.jpg) no-repeat;
        background-size: 100%;
        width: 24.167vw;
        height: 15.917vw;
    }
}

.item-4 {
    .image {
        background: url(images/Rectangle6.jpg) no-repeat;
        background-size: 100%;
        width: 24.167vw;
        height: 15.917vw;
    }
}

.one-item-1:not(:last-child) {
    margin-right: 0.938vw;
}

.one-item-2:not(:last-child) {
    margin-right: 0.938vw;
}

.one-item-3:not(:last-child) {
    margin-right: 0.938vw;
}

.one-item-4:not(:last-child) {
    margin-right: 0.938vw;
}

.one-item-5:not(:last-child) {
    margin-right: 0.938vw;
}

.one-item-6:not(:last-child) {
    margin-right: 0.938vw;
}

.two-item-1:not(:last-child) {
    margin-right: 0.938vw;
}
.two-item-2:not(:last-child) {
    margin-right: 0.938vw;
}
.two-item-3:not(:last-child) {
    margin-right: 0.938vw;
}

.two-item-4:not(:last-child) {
    margin-right: 0.938vw;
}

.two-item-5:not(:last-child) {
    margin-right: 0.938vw;
}

.two-item-6:not(:last-child) {
    margin-right: 0.938vw;
}


.three-item-1:not(:last-child) {
    margin-right: 0.938vw;
}

.three-item-2:not(:last-child) {
    margin-right: 0.938vw;
}

.three-item-3:not(:last-child) {
    margin-right: 0.938vw;
}

.three-item-4:not(:last-child) {
    margin-right: 0.938vw;
}

.three-item-5:not(:last-child) {
    margin-right: 0.938vw;
}

.three-item-6:not(:last-child) {
    margin-right: 0.938vw;
}

.select button {
    margin-top: 0.442vw;
    margin-bottom: 0px;
}

.one-item-1 {
    position: relative;
    flex: 0 0 auto;
    width: 1.042vw;
    height: 1.042vw;
    margin-bottom: 0.938vw;
    border-radius: 50%;
    transform: translateZ(0px);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: #1F316A;
}


.one-active::after {
    content: "";
    position: absolute;
    inset: 0px;
    border: 1px solid #1F316A;
    border-radius: 50%;
    transform-origin: 50% 50%;
    transition: transform 270ms cubic-bezier(0.79, 0.14, 0.15, 0.86) 0ms, border-color 270ms linear 0ms;
    transform: scale(1.5);
}

.two-item-1 {
    position: relative;
    flex: 0 0 auto;
    width: 1.042vw;
    height: 1.042vw;
    margin-bottom: 0.938vw;
    border-radius: 50%;
    transform: translateZ(0px);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: #CEBAB3;
}

.two-active::after {
    content: "";
    position: absolute;
    inset: 0px;
    border: 1px solid #CEBAB3;
    border-radius: 50%;
    transform-origin: 50% 50%;
    transition: transform 270ms cubic-bezier(0.79, 0.14, 0.15, 0.86) 0ms, border-color 270ms linear 0ms;
    transform: scale(1.5);
}

.three-item-1 {
    position: relative;
    flex: 0 0 auto;
    width: 1.042vw;
    height: 1.042vw;
    margin-bottom: 0.938vw;
    border-radius: 50%;
    transform: translateZ(0px);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: #C7C7C7;
}

.three-active::after {
    content: "";
    position: absolute;
    inset: 0px;
    border: 1px solid #C7C7C7;
    border-radius: 50%;
    transform-origin: 50% 50%;
    transition: transform 270ms cubic-bezier(0.79, 0.14, 0.15, 0.86) 0ms, border-color 270ms linear 0ms;
    transform: scale(1.5);

}

.one-item-2 {
    position: relative;
    flex: 0 0 auto;
    width: 1.042vw;
    height: 1.042vw;
    margin-bottom: 0.938vw;
    border-radius: 50%;
    transform: translateZ(0px);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: #1F316A;
}

.two-item-2 {
    position: relative;
    flex: 0 0 auto;
    width: 1.042vw;
    height: 1.042vw;
    margin-bottom: 0.938vw;
    border-radius: 50%;
    transform: translateZ(0px);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: #CEBAB3;
}

.three-item-2 {
    position: relative;
    flex: 0 0 auto;
    width: 1.042vw;
    height: 1.042vw;
    margin-bottom: 0.938vw;
    border-radius: 50%;
    transform: translateZ(0px);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: #C7C7C7;
}

.one-item-3 {
    position: relative;
    flex: 0 0 auto;
    width: 1.042vw;
    height: 1.042vw;
    margin-bottom: 0.938vw;
    border-radius: 50%;
    transform: translateZ(0px);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: #1F316A;
}

.two-item-3 {
    position: relative;
    flex: 0 0 auto;
    width: 1.042vw;
    height: 1.042vw;
    margin-bottom: 0.938vw;
    border-radius: 50%;
    transform: translateZ(0px);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: #CEBAB3;
}

.three-item-3 {
    position: relative;
    flex: 0 0 auto;
    width: 1.042vw;
    height: 1.042vw;
    margin-bottom: 0.938vw;
    border-radius: 50%;
    transform: translateZ(0px);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: #C7C7C7;
}

.one-item-4 {
    position: relative;
    flex: 0 0 auto;
    width: 1.042vw;
    height: 1.042vw;
    margin-bottom: 0.938vw;
    border-radius: 50%;
    transform: translateZ(0px);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: #1F316A;
}

.two-item-4 {
    position: relative;
    flex: 0 0 auto;
    width: 1.042vw;
    height: 1.042vw;
    margin-bottom: 0.938vw;
    border-radius: 50%;
    transform: translateZ(0px);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: #CEBAB3;
}

.three-item-4 {
    position: relative;
    flex: 0 0 auto;
    width: 1.042vw;
    height: 1.042vw;
    margin-bottom: 0.938vw;
    border-radius: 50%;
    transform: translateZ(0px);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: #C7C7C7;
}

.one-item-5 {
    position: relative;
    flex: 0 0 auto;
    width: 1.042vw;
    height: 1.042vw;
    margin-bottom: 0.938vw;
    border-radius: 50%;
    transform: translateZ(0px);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: #1F316A;
}

.two-item-5 {
    position: relative;
    flex: 0 0 auto;
    width: 1.042vw;
    height: 1.042vw;
    margin-bottom: 0.938vw;
    border-radius: 50%;
    transform: translateZ(0px);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: #CEBAB3;
}

.three-item-5 {
    position: relative;
    flex: 0 0 auto;
    width: 1.042vw;
    height: 1.042vw;
    margin-bottom: 0.938vw;
    border-radius: 50%;
    transform: translateZ(0px);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: #C7C7C7;
}

.one-item-6 {
    position: relative;
    flex: 0 0 auto;
    width: 1.042vw;
    height: 1.042vw;
    margin-bottom: 0.938vw;
    border-radius: 50%;
    transform: translateZ(0px);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: #1F316A;
}

.two-item-6 {
    position: relative;
    flex: 0 0 auto;
    width: 1.042vw;
    height: 1.042vw;
    margin-bottom: 0.938vw;
    border-radius: 50%;
    transform: translateZ(0px);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: #CEBAB3;
}

.three-item-6 {
    position: relative;
    flex: 0 0 auto;
    width: 1.042vw;
    height: 1.042vw;
    margin-bottom: 0.938vw;
    border-radius: 50%;
    transform: translateZ(0px);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: #C7C7C7;
}


.slick-slide:first-child {
    padding-left: 5.33vw;
}

.slick-slide {
    margin-right: 1.833vw;
}

.slick-arrow {
    margin: 0;
    padding: 0.443vw 1.1124vw;
    color: black;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    opacity: 0;
    transition: background-color 0.15s ease-out 0s;
    transition: opacity 0.15s ease-out 0s;
    border-radius: 50%;
}

.slider-сarousel:hover .slick-arrow {
    opacity: 1;
    box-shadow: rgb(242, 242, 242) 0 0.260vw 0.781vw 0,
     rgb(247, 247, 247) 0 0 0 0.052vw,
     rgb(242, 242, 242) 0 0.052vw 0 0,
     rgb(252, 252, 252) 0 0.052vw 0.156vw 0;
}


.slick-arrow:hover {
    color: rgb(82, 102, 153);
}


.fa {
    font-size: 2.083vw !important;
}

.fa.fa-angle-left {
    position: absolute;
    top: 44%;
    left: 0.521vw;
    z-index: 1;
}


.fa.fa-angle-right {
    position: absolute;
    top: 44%;
    right: 0.521vw;
}

.slick-arrow.slick-hidden {
    display: none;
}

@media  all and (max-width: 1366px) {
    $coefficient: 1.3;
    @import "base-scss.scss";

.slider-сarousel {
}

.slick-list {
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    width: 170.250vw * $coefficient !important;

    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;

    [dir="rtl"] & {
        float: right;
    }

    img {
        display: block;
    }

    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 0.052vw solid transparent;
    }
}

.slider-сarousel {
}

.slider-сarousel_name {
    font-size: 1.875vw* $coefficient;
    line-height: 2.289vw* $coefficient;
    margin-bottom: 4.629vw* $coefficient;

}

.slider-carousel_items {

    .image {
        background-size: 100%;
        width: 22.525vw * $coefficient;
        height: 13.89vw * $coefficient;
    }

    .name {
        font-size: 0.885vw* $coefficient;
        line-height: 1.081vw* $coefficient;
    }

    .price {
        font-size: 0.885vw* $coefficient;
        line-height: 1.081vw* $coefficient;
        span {
        }
    }

    .select {
        width: 100%;
        padding-left: 0.400vw * $coefficient;
        padding-bottom: 0.400vw * $coefficient;
    }
}

.slider-carousel_items .image {
    .decoration-button {
        bottom: 0.833vw * $coefficient;
        left: 0.833vw * $coefficient;
        font-size: 0.833vw * $coefficient;
        letter-spacing: 0.031vw * $coefficient;
        padding: 0.417vw * $coefficient 0.833vw * $coefficient;
        border-radius: 1.667vw * $coefficient;
    }
}

.image:hover .decoration-button {
}

.decoration-button:hover {
}

.item-2 {
    .image {
        width: 22.525vw * $coefficient;
        height: 13.89vw * $coefficient;
    }
}

.item-3 {
    .image {
        width: 22.525vw * $coefficient;
        height: 13.89vw * $coefficient;
    }
}

.item-4 {
    .image {
        width: 22.525vw * $coefficient;
        height: 13.89vw * $coefficient;
    }
}

.one-item-1:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.one-item-2:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.one-item-3:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.one-item-4:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.one-item-5:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.one-item-6:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.two-item-1:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}
.two-item-2:not(:last-child) {
    margin-right: 0.938vw* $coefficient;
}
.two-item-3:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.two-item-4:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.two-item-5:not(:last-child) {
    margin-right: 0.938vw* $coefficient;
}

.two-item-6:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}


.three-item-1:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.three-item-2:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.three-item-3:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.three-item-4:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.three-item-5:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.three-item-6:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.select button {
    margin-top: 0.442vw * $coefficient;
    margin-bottom: 0;
}

.one-item-1 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.one-active::after {
    inset: 0;
    border: 0.052vw * $coefficient solid #1F316A;
}

.two-item-1 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.two-active::after {
    inset: 0;
    border: 0.052vw * $coefficient solid #CEBAB3;

}

.three-item-1 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;

}

.three-active::after {
    inset: 0;
    border: 0.052vw * $coefficient solid #C7C7C7;

}

.one-item-2 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.two-item-2 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.three-item-2 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.one-item-3 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.two-item-3 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.three-item-3 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.one-item-4 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.two-item-4 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.three-item-4 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.one-item-5 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.two-item-5 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.three-item-5 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.one-item-6 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;

}

.two-item-6 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;

}

.three-item-6 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}


.slick-slide:first-child {
    padding-left: 3.022vw * $coefficient;
}

.slick-slide {
    margin-right: 1.063vw * $coefficient;
}

.slick-arrow {
    padding: 0.443vw * $coefficient 1.1124vw * $coefficient;

}

.slider-сarousel:hover .slick-arrow {

}


.slick-arrow:hover {
}


.fa {
    font-size: 2.083vw * $coefficient !important;
}

.fa.fa-angle-left {
    top: 25%;
    left: 0.521vw * $coefficient;
    z-index: 1;
}


.fa.fa-angle-right {

    top: 25%;
    right: 0.521vw * $coefficient;
}

.slick-arrow.slick-hidden {

}

}

@media  all and (max-width: 415px) {
    $coefficient: 4;
    @import "base-scss.scss";

.slider-сarousel {
}

.slick-list {
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    width: 170.250vw * $coefficient !important;

    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;

    [dir="rtl"] & {
        float: right;
    }

    img {
        display: block;
    }

    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 0.052vw solid transparent;
    }
}

.slider-сarousel {
}

.slider-сarousel_name {
    font-size: 1.875vw* $coefficient;
    line-height: 2.289vw* $coefficient;
    margin-bottom: 4.629vw* $coefficient;

}

.slider-carousel_items {

    .image {
        background-size: 100%;
        width: 14.6385vw * $coefficient;
        height: 9.036vw * $coefficient;
    }

    .name {
        font-size: 0.885vw* $coefficient;
        line-height: 1.081vw* $coefficient;
    }

    .price {
        font-size: 0.885vw* $coefficient;
        line-height: 1.081vw* $coefficient;
        span {
        }
    }

    .select {
        width: 100%;
        padding-left: 0.260vw * $coefficient;
        padding-bottom: 0.25vw * $coefficient;
    }
}

.slider-carousel_items .image {
    .decoration-button {
        bottom: 0.833vw * $coefficient;
        left: 0.833vw * $coefficient;
        font-size: 0.833vw * $coefficient;
        letter-spacing: 0.031vw * $coefficient;
        padding: 0.417vw * $coefficient 0.833vw * $coefficient;
        border-radius: 1.667vw * $coefficient;
    }
}

.image:hover .decoration-button {
}

.decoration-button:hover {
}

.item-2 {
    .image {
        width: 14.6385vw * $coefficient;
        height: 9.036vw * $coefficient;
    }
}

.item-3 {
    .image {
        width: 14.6385vw * $coefficient;
        height: 9.036vw * $coefficient;
    }
}

.item-4 {
    .image {
        width: 14.6385vw * $coefficient;
        height: 9.036vw * $coefficient;
    }
}

.one-item-1:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.one-item-2:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.one-item-3:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.one-item-4:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.one-item-5:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.one-item-6:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.two-item-1:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}
.two-item-2:not(:last-child) {
    margin-right: 0.938vw* $coefficient;
}
.two-item-3:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.two-item-4:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.two-item-5:not(:last-child) {
    margin-right: 0.938vw* $coefficient;
}

.two-item-6:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}


.three-item-1:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.three-item-2:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.three-item-3:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.three-item-4:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.three-item-5:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.three-item-6:not(:last-child) {
    margin-right: 0.938vw * $coefficient;
}

.select button {
    margin-top: 0.442vw * $coefficient;
    margin-bottom: 0;
}

.one-item-1 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}


.one-active::after {
    inset: 0;
    border: 0.052vw * $coefficient solid #1F316A;
}

.two-item-1 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.two-active::after {
    inset: 0;
    border: 0.052vw * $coefficient solid #CEBAB3;

}

.three-item-1 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;

}

.three-active::after {
    inset: 0;
    border: 0.052vw * $coefficient solid #C7C7C7;

}

.one-item-2 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.two-item-2 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.three-item-2 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.one-item-3 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.two-item-3 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.three-item-3 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.one-item-4 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.two-item-4 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.three-item-4 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.one-item-5 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.two-item-5 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.three-item-5 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}

.one-item-6 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;

}

.two-item-6 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;

}

.three-item-6 {
    width: 1.042vw * $coefficient;
    height: 1.042vw * $coefficient;
    margin-bottom: 0.938vw * $coefficient;
}


.slick-slide:first-child {
    padding-left: 3.022vw * $coefficient;
}

.slick-slide {
    margin-right: 1.063vw * $coefficient;
}

.slick-arrow {
    padding: 0.443vw * $coefficient 1.1124vw * $coefficient;
    display: none !important;
}

.slider-сarousel:hover .slick-arrow {

}


.slick-arrow:hover {
}


.fa {
    font-size: 2.083vw * $coefficient !important;
}

.fa.fa-angle-left {
    top: 25%;
    left: 0.521vw * $coefficient;
    z-index: 1;
}


.fa.fa-angle-right {

    top: 25%;
    right: 0.521vw * $coefficient;
}

.slick-arrow.slick-hidden {

}

}