* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$images: url(images);

.header {
    .header-wrapper {
        width: 97.813vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2.917vw;
    }

    .logo {
        display: flex;
        background: url(images/logo.svg) no-repeat;
        width: 12.396vw;
        height: 2.227vw;
    }

    .nav-menu {
        list-style: none;
        display: flex;
    }

    .header-right {
        display: flex;
        justify-content: space-between;

        .map-icon {
            background: url(images/);
        }
    }
}