@import "base-scss.scss";

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

.materials {
    margin-top: 5vw;
    background-color: #F2F4F3;
}

.materials-main__title {
    padding-top: 4.792vw;
    font-size: 1.875vw;
    font-weight: 700;
    line-height: 2.292vw;
    text-align: center;
    color: #1F316A;
}

.materials-container {
    width: 68.958vw;
    margin: 0 auto;
}

.materials-items {
    margin-top: 2.656vw;
}

.materials-items:last-child {
    padding-bottom: 4.792vw;
}

.materials-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.materials-image {
    width: auto ;
    height: auto;
    margin-right: 3.040vw;
}

.materials-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.materials-title {
    font-size: 2.500vw;
    font-weight: 400;
    line-height: 3.750vw;
    text-align: left;
    color: #504C4C;
    margin-bottom: 0.833vw;
}

.materials-text {
    font-size: 1.354vw;
    font-weight: 400;
    line-height: 2.031vw;
    text-align: left;
    color: #999999;
    margin-bottom: 0.833vw;
}

.materials-content.materials-right {
    flex-direction: row-reverse;
    .materials-image {
        margin-left: 3.040vw;
        margin-right: 0;
    }
    .materials-title {
        text-align: right;
    }
    .materials-text {
        text-align: right;
    }
}

@media all and (max-width: 1366px) {
    $coefficient: 1.4;
    .materials {
        margin-top: 5vw * $coefficient;
    }
    
    .materials-main__title {
        padding-top: 4.792vw * $coefficient;
        font-size: 1.875vw * $coefficient;
        line-height: 2.292vw * $coefficient;
    }
    
    .materials-container {
        width: 68.958vw * $coefficient;
    }
    
    .materials-items {
        margin-top: 2.656vw * $coefficient;
    }
    
    .materials-items:last-child {
        padding-bottom: 4.792vw * $coefficient;
    }
    
    .materials-content {
    }
    
    .materials-image {
        width: 11.699vw * $coefficient;
        height: 11.458vw * $coefficient;
        margin-right: 3.040vw * $coefficient;
    }
    
    .materials-description {
    }
    
    .materials-title {
        font-size: 2.500vw * $coefficient;
        line-height: 3.750vw * $coefficient;
        margin-bottom: 0.833vw * $coefficient;
    }
    
    .materials-text {
        font-size: 1.354vw * $coefficient;
        line-height: 2.031vw * $coefficient;
        margin-bottom: 0.833vw * $coefficient;
    }
    
    .materials-content.materials-right {
        .materials-image {
            margin-left: 3.040vw * $coefficient;
            margin-right: 0;
        }
        .materials-title {
        }
        .materials-text {
        }
    }
    
}

@media all and (max-width: 415px) {
    $coefficient: 4;
    .materials {
        margin-top: 5vw * $coefficient;
    }
    
    .materials-main__title {
        padding-top: 4.792vw * $coefficient;
        font-size: 1.875vw * $coefficient;
        line-height: 2.292vw * $coefficient;
    }
    
    .materials-container {
        width: 90vw;
    }
    
    .materials-items {
        margin-top: 2.656vw * $coefficient;
    }
    
    .materials-items:last-child {
        padding-bottom: 4.792vw * $coefficient;
    }
    
    .materials-content {
        display: flex;
        flex-direction: column;
    }
    
    .materials-image {
        width: 11.699vw * $coefficient;
        height: 11.458vw * $coefficient;
        margin-right: 0;
        margin-bottom: 11.566vw;
    }
    
    .materials-description {
    }
    
    .materials-title {
        font-size: 2.500vw * $coefficient;
        line-height: 3.750vw * $coefficient;
        margin-bottom: 0.833vw * $coefficient;

    }
    
    .materials-text {
        font-size: 1.354vw * $coefficient;
        line-height: 2.031vw * $coefficient;
        margin-bottom: 0.833vw * $coefficient;
    }
    
    .materials-content.materials-right {
        flex-direction: column;
        .materials-image {
            margin-left: 0;
            margin-right: 0;
        }
        .materials-title {
            text-align: left;
        }
        .materials-text {
            text-align: left;
        }
    }
    
}